@import 'styles/_breakpoints';
@import 'styles/_mixins';

.checkout-page-container {
	font-weight: bold;
	font-size: 28px;
	padding: 2.25rem 0.75rem 1.125rem;

	@media(min-width: #{$screen-xl-min}) {
		margin: 0 auto;
		width: 1180px;
		gap: 15px;
	}
}

.checkout-content {
	margin: 15px auto 0;
	display: flex;
	flex-direction: column;
	background-color: #F8F8F8;

	@media(min-width: #{$screen-phone-top-599}) {
		background-color: #FFF;
	}

	@media(min-width: #{$screen-md-min}) {
		gap: 15px;
	}

	@media(min-width: #{$screen-min-899}) {
		flex-direction: row-reverse;
		gap: 20px;
	}

	.left {
		width: 100%;

		@media(min-width: #{$screen-min-899}) {
			flex: 1;
		}

		.title {
			font-weight: bold;
			font-size: 28px;
			margin-bottom: 18px;
			padding: 0 0.75rem;

			@media(min-width: #{$screen-phone-top-599}) {
				padding: 0;
			}
		}

		.shipping-detail-container {
			max-width: 38rem;
			display: grid;
			grid-gap: 1rem;
		}
	}
}

.form-container {
	margin-bottom: 15px;

	@include md {
		margin: 0 auto;
	}
}

.pricing-panel {
	border-radius: 0px;
	margin-bottom: 0px;
	border: none;
	box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 1px, rgb(0 0 0 / 14%) 0px 0px 1px 0px, rgb(0 0 0 / 12%) 0px 2px 1px -1px;
	background-color: #FFF;
	width: 100%;


	.form-title {
		font-weight: bold;
		font-size: 1.4rem;
		padding: 0.75rem;
	}
}

.right {
	.form-container {
		margin-top: 20px;

	}

	@media (min-width: #{$screen-min-899}) {
		.form-container:first-of-type {
			margin-top: 0;
		}
	}

	@media(min-width: #{$screen-phone-top-599}) {
		padding: 0;
	}

	@media(min-width: #{$screen-min-899}) {
		flex: 2;
	}

	.title {
		font-weight: bold;
		font-size: 28px;
		margin-bottom: 18px;
	}

	.shipping-info-title {
		@extend .title;

		@media(min-width: #{$screen-min-899}) {
			display: none;
		}
	}
}

.product-tiles {
	padding: 0 15px;

	.product-tile {
		padding: 15px 0;
		display: flex;

		.product-desc {
			flex: 1;

			h3 {
				font-weight: 600;
				font-size: 1.1rem
			}

			p {
				margin-top: 8px;
				font-weight: 400;
				font-size: 0.8rem;
			}
		}

		.product-price {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-weight: 600;
			font-size: 18px;
		}
	}
}

.subtotal {
	padding: 0.9375rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #DFDFDF;
	font-size: 18px;

	span {
		font-weight: 600;
	}
}

.payment-form-container {
	padding: 15px;

	.card-types {
		display: flex;
		flex-direction: row;

		li {
			width: 35px;
			height: 25px;
			margin: 8px 15px 8px 0;
		}
	}

	.payment-form {
		display: flex;
		flex-direction: column;
	}
}

.shipping-form-container {
	padding: 15px;
}

.error-box {
	margin-top: 0.75rem;
}