@import "styles/_breakpoints.scss";
@import "styles/_mixins.scss";
@import "styles/_colors";

.shopping-cart-section {
	width: 100%;
	padding: 0 20px 3rem;
}

.shopping-cart-container {
	max-width: 1180px;
	margin: 0 auto;
	padding-bottom: 3.75rem;

	.shopping-cart_topbar {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.title {
			font-size: 2em;
			font-weight: bold;
			margin-block-start: 0.67em;
			margin-block-end: 0.67em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}

		.count {
			font-size: 1.8em;
		}
	}

	.cart-items-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		.head-row {
			display: none;

			@include md {
				display: flex;
			}

			width: 100%;
			border-bottom: 1px solid #eee;
			line-height: 1.5rem;
			font-size: 1.2em;

			h1,
			div {
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1.875rem;
				padding-bottom: 15px;
			}

			.description-label {
				width: 57%;
				display: flex;
				justify-content: flex-start;
				padding-left: 9.6rem;
			}

			.price-label {
				width: 12%;
			}

			.quantity-label {
				width: 10%;
			}

			.total-label {
				width: 21%;
				text-align: right;
			}
		}
	}
}

.Cart__title-row {
	width: 100%;
	margin-top: 1rem;
	display: none;

	@media (min-width: $screen-md-min) {
		display: flex;
	}

	div[class*="Cart__title-row"] {
		text-transform: capitalize;
		font-size: 1.2rem;
		text-align: center;
		font-weight: 700;
		white-space: nowrap;
	}
}

.Cart__title-row-top {
	display: flex;
	width: 52%;
	gap: 2.25rem;
}

.Cart__title-row-stuff {
	width: 150px;
}

.Cart__title-row-prodname {
	width: 65%;
	text-align: left;
}

.Cart__title-row-bottom {
	display: flex;
	width: 43%;
}

.Cart__title-row-unitprice {
	width: 28%;
}

.Cart__title-row-quantity {
	width: 40%;
}

.Cart__title-row-subtotal {
	width: 32%;
}