@import "styles/_breakpoints.scss";
@import "styles/_mixins.scss";

.shopping-cart-section {
	width: 100%;
	padding: 0 20px 3rem;
	margin-top: 95px;

	@media (min-width: $screen-md-min) {
		margin-top: 170px;
	}
}

.shopping-cart-container {
	max-width: 1180px;
	margin: 0 auto;
	padding-bottom: 3.75rem;

	.shopping-cart_topbar {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.title {
			font-size: 2em;
			font-weight: bold;
			margin-block-start: 0.67em;
			margin-block-end: 0.67em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}

		.count {
			font-size: 1.8em;
		}
	}

	.cart-items-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		.head-row {
			display: none;

			@include md {
				display: flex;
			}

			width: 100%;
			border-bottom: 1px solid #eee;
			line-height: 1.5rem;
			font-size: 1.2em;

			h1,
			div {
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1.875rem;
				padding-bottom: 15px;
			}

			.description-label {
				width: 57%;
				display: flex;
				justify-content: flex-start;
				padding-left: 9.6rem;
			}

			.price-label {
				width: 12%;
			}

			.quantity-label {
				width: 10%;
			}

			.total-label {
				width: 21%;
				text-align: right;
			}

		}

		.result-row {
			margin-top: 20px;
			display: flex;


			.left {
				width: 0%;

				@media (min-width: #{$screen-sm-min}) {
					width: 60%;
				}


				@media (min-width: #{$screen-md-min}) {
					width: 60%;
				}
			}

			.right {
				width: 100%;

				@media (min-width: #{$screen-sm-min}) {
					width: 40%;
				}

				@media (min-width: #{$screen-md-min}) {
					width: 40%;
				}

				display: flex;
				flex-direction: column;
				gap: 7px;
			}

			div {
				display: flex;
				align-items: flex-start;
				width: 100%;

				label {
					display: flex;
					flex: 1;
					justify-content: flex-start;
					font-size: 20px;
				}

				.result-value {
					flex: 1;
					display: flex;
					justify-content: flex-end;
					font-size: 1rem;
					font-weight: 700;
				}
			}

			.grand-total {
				margin-top: 0.7rem;

				label {
					font-size: 1.2rem;
				}

				.result-value {
					font-size: 1.2rem;
				}
			}

			.checkout-button {
				margin-top: 30px;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.Cart__title-row {
	width: 100%;
	margin-top: 1rem;
	display: none;

	@media (min-width: $screen-md-min) {
		display: flex;
	}

	div[class*="Cart__title-row"] {
		text-transform: capitalize;
		font-size: 1.2rem;
		text-align: center;
		font-weight: 700;
		white-space: nowrap;
	}
}

.Cart__title-row-top {
	display: flex;
	width: 52%;
	gap: 2.25rem;
}

.Cart__title-row-stuff {
	width: 150px;
}

.Cart__title-row-prodname {
	width: 65%;
	text-align: left;
}

.Cart__title-row-bottom {
	display: flex;
	width: 43%;
}

.Cart__title-row-unitprice {
	width: 28%;
}

.Cart__title-row-quantity {
	width: 40%;
}

.Cart__title-row-subtotal {
	width: 32%;
}

.Cart__result-row-summary {
	font-size: 20px;
	font-weight: 700;
	padding: 25px 0 0;
	width: 100%;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: solid 1px #ccc;
}

.Cart__rec-products {
	max-width: 1180px;
	padding: 40px 20px 20px 20px;
	margin: 2rem auto 0;
	border-radius: 5px;
	background-color: white;
}

.Cart__rec-title {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
}

.Cart__rec-see-all {
	text-transform: uppercase;
	font-size: 0.8rem;
	margin-left: 1rem;
	font-weight: 400;
}