.shopping-cart-section {
  width: 100%;
  padding: 0 20px 3rem;
  margin-top: 95px;
}
@media (min-width: 768px) {
  .shopping-cart-section {
    margin-top: 170px;
  }
}

.shopping-cart-container {
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 3.75rem;
}
.shopping-cart-container .shopping-cart_topbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.shopping-cart-container .shopping-cart_topbar .title {
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.shopping-cart-container .shopping-cart_topbar .count {
  font-size: 1.8em;
}
.shopping-cart-container .cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.shopping-cart-container .cart-items-container .head-row {
  display: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  line-height: 1.5rem;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .head-row {
    display: flex;
  }
}
.shopping-cart-container .cart-items-container .head-row h1,
.shopping-cart-container .cart-items-container .head-row div {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.875rem;
  padding-bottom: 15px;
}
.shopping-cart-container .cart-items-container .head-row .description-label {
  width: 57%;
  display: flex;
  justify-content: flex-start;
  padding-left: 9.6rem;
}
.shopping-cart-container .cart-items-container .head-row .price-label {
  width: 12%;
}
.shopping-cart-container .cart-items-container .head-row .quantity-label {
  width: 10%;
}
.shopping-cart-container .cart-items-container .head-row .total-label {
  width: 21%;
  text-align: right;
}
.shopping-cart-container .cart-items-container .result-row {
  margin-top: 20px;
  display: flex;
}
.shopping-cart-container .cart-items-container .result-row .left {
  width: 0%;
}
@media (min-width: 576px) {
  .shopping-cart-container .cart-items-container .result-row .left {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .result-row .left {
    width: 60%;
  }
}
.shopping-cart-container .cart-items-container .result-row .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 576px) {
  .shopping-cart-container .cart-items-container .result-row .right {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .result-row .right {
    width: 40%;
  }
}
.shopping-cart-container .cart-items-container .result-row div {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.shopping-cart-container .cart-items-container .result-row div label {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  font-size: 20px;
}
.shopping-cart-container .cart-items-container .result-row div .result-value {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 700;
}
.shopping-cart-container .cart-items-container .result-row .grand-total {
  margin-top: 0.7rem;
}
.shopping-cart-container .cart-items-container .result-row .grand-total label {
  font-size: 1.2rem;
}
.shopping-cart-container .cart-items-container .result-row .grand-total .result-value {
  font-size: 1.2rem;
}
.shopping-cart-container .cart-items-container .result-row .checkout-button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.Cart__title-row {
  width: 100%;
  margin-top: 1rem;
  display: none;
}
@media (min-width: 768px) {
  .Cart__title-row {
    display: flex;
  }
}
.Cart__title-row div[class*=Cart__title-row] {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
}

.Cart__title-row-top {
  display: flex;
  width: 52%;
  gap: 2.25rem;
}

.Cart__title-row-stuff {
  width: 120px;
}

.Cart__title-row-prodname {
  width: 65%;
}

.Cart__title-row-bottom {
  display: flex;
  width: 43%;
}

.Cart__title-row-unitprice {
  width: 28%;
}

.Cart__title-row-quantity {
  width: 40%;
}

.Cart__title-row-subtotal {
  width: 32%;
}

.Cart__result-row-summary {
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0 0;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #ccc;
}

.Cart__rec-products {
  max-width: 1180px;
  padding: 40px 20px 20px 20px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
}

.Cart__rec-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

/*# sourceMappingURL=cart.css.map */
