@import 'styles/_mixins';
@import 'styles/_breakpoints';

.nav-container {
	flex: 1;

	.nav-content-list {
		list-style: none;
		padding: 0;
		align-items: center;
		display: flex;
		justify-content: flex-start;
		gap: 1.2rem;

		.nav-content-item {
			align-items: center;
			display: flex;
			height: 40px;
			margin: 0 5px;
			position: relative;
			transition: 100ms all linear 0s;
		}

		.index_nav-search {
			@media(min-width: #{$screen-md-min}) {
				display: none;
			}
		}
	}
}