
.promo-ribbon-flag,
.promo-ribbon-flag:before,
.promo-ribbon-flag:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promo-ribbon-flag {
  background: #D43B33;
  position: relative;
  color: white;
  display: inline-block;
  padding: 1px;
  top:10px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;

  &:before, &:after {
    background: #912721;
    position: absolute;
  	top: 10px;
    content: ' ';
  	height: 0;
  	border: 10px solid rgba(0, 0, 0, 0);
  	border-left: 10px solid white;
  }

  &:before {
  	left: 18px;
  }

  &:after {
  	right: -18px;
    transform: rotate(180deg);
  }
}
