// Small tablets and large smartphones (landscape view)
$screen-499-min: 499px;

$screen-sm-min: 576px;

$screen-phone-top-599: 599px;

$screen-sm-min-600: 600px;

// Small tablets (portrait view)
$screen-md-min: 768px;

$screen-min-899: 899px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Tablets
$screen-1024-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1200px;