$white: #fff;
$primary: #FC8A15;
$light-primary: rgba(255, 115, 55, 0.3);
$secondary: #f6f6f6;
$light-green: #1EE494;
$dark-green: #009378;
$btn-hover-green: #A8E890;
$btn-buynow: #CF7135;
$border-color: #e5e5e5;

$product-price: #e81120;
$original-price: #343434;
$number-bought: #EB008C;
$gray-hover-bg: #E4E4E4;
$spinner-color: #999;

// Copy from newegg.com
$--gray-l1: #F2F2F2;


// Shadows
$button-3d-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);

$primary-graident: linear-gradient(#ee4d2d, #ff7337);