$white: #fff;
$primary: #FC8A15;
$secondary: #f6f6f6;
$light-green: #1EE494;
$dark-green: #009378;
$btn-hover-green: #A8E890;
$btn-buynow: #CF7135;
$border-color: #e5e5e5;

$product-price: #e81120;
$original-price: #343434;
$number-bought: #EB008C;
$gray-hover-bg: #E4E4E4;


$primary-graident: linear-gradient(#ee4d2d, #ff7337);