$white: #fff;
$primary: #e6007e;
$light-primary: rgba(255, 115, 55, 0.3);
$secondary: #f6f6f6;
$light-green: #1EE494;
$dark-green: #009378;
$btn-hover-green: #A8E890;
$btn-buynow: #CF7135;
$border-color: #e5e5e5;

$product-price: #e81120;
$original-price: #343434;
$number-bought: #EB008C;
$gray-hover-bg: #E4E4E4;
$gray-hover-bg-2: #D8D8D8;
$loading-gray: #323131;
$spinner-color: #999;
$mantis-green: #92d062;
$silver-chalice: #a0a0a0;

// Copy from newegg.com
$--gray-l1: #F2F2F2;
$gallery: #f0f0f0;
$cornflowerblue: #888;
$pastel-grey: #ccc;

// Shadows
$all-purpose-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
$button-3d-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
$dropdown-shadow: 0 0 3px 0 rgb(73 143 226 / 50%);
$primary-graident: linear-gradient(#ee4d2d, #ff7337);