$white: #fff;
$primary: #FC8A15;
$secondary: #f6f6f6;
$light-green: #1EE494;
$dark-green: #009378;

$product-price: #e81120;
$original-price: #343434;
$number-bought: #EB008C;

$primary-graident: linear-gradient(#ee4d2d, #ff7337);