// @see https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height
html {
    height: 100%;
    /* Fallback CSS for IE 4-6 and older browsers. Note: Without this setting, body below cannot achieve 100% height. */
    height: 100vh;
    /* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
}

body {
    height: auto;
    /* Allows content to grow beyond the page without overflow */
    width: auto;
    /* Allows content to grow beyond the page without overflow */
    min-height: 100%;
    /* Starts web page with 100% height. Fallback for IE 4-6 and older browsers */
    min-height: 100vh;
    /* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers */
    overflow-y: scroll;
    /* Optional: Adds an empty scrollbar to the right margin in case content grows vertically, creating a scrollbar.  Allows for better width calculations, as the browser pre-calculates width before scrollbar appears, avoiding page content shifting.*/
    margin: 0;
    padding: 0;
    background: #FFF;
    /* add text to your page and make sure this background color always fills the screen! */
    font-family: 'Roboto', sans-serif !important;
}