.SocialShare__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  li {
    cursor: pointer;
  }

  li img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s, opacity 0.2s;

    &:hover {
      transform: translateY(-4px);
      opacity: 0.8;
    }
  }
}