DATABASE_URL="file:./data.db?connection_limit=1"
SESSION_SECRET="4f8d522276ae65a7d1db347b98b6185a"

DOMAIN=http://localhost:5173
PORT=5173
CATEGORY_CACHE_TTL=43200
CDN_URL=https://cdn.peasydeal.com

PEASY_DEAL_ENDPOINT=http://localhost:3010

# Paypal
PAYPAL_CLIENT_ID=
PAYPAL_CURRENCY_CODE=

# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_PRIVATE_KEY=
STRIPE_CURRENCY_CODE=

REDIS_HOST=
REDIS_USER=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DB=0
REDIS_SESSION_TTL=259200

MAPBOX_BOX_ACCESS_TOKEN=

CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=

# Algolia
ALGOLIA_APP_ID=
ALGOLIA_APP_SEARCH_KEY=
ALGOLIA_INDEX_NAME=production_products

# Analytics
GTM_CONTAINER_ID=
RUDDERSTACK_WRITE_KEY=
RUDDERSTACK_DATAPLANE_URL=

# R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
