.DS_Store
node_modules

/build
/public/build
/public/sitemaps/*
.env
.env.staging
.deploy.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css

/app/cosmos.userdeps.js
cosmos-export/

.vscode/*

cosmos.userdeps.js

app/playground/*
peasydeal-master-key.json
public/robots.txt
