@import 'styles/_breakpoints';

.even-row-contianer {
	max-width: 1180px;
	display: inline-grid;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	grid-template-columns: repeat(1, 1fr);


	@media(min-width:#{$screen-xl-min}) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width:#{$screen-phone-top-599}) and (max-width:#{$screen-xl-min}) {
		grid-template-columns: repeat(2, 1fr);
	}
}