@import 'styles/_mixins';
@import 'styles/_breakpoints';

.one-main-two-subs-container {
	display: flex;
	gap: 20px 20px;
	justify-content: center;
	flex-direction: column;

	@media (max-width: #{$screen-sm-min-600}) {
		flex-direction: column;
	}

	@media (min-width: #{$screen-sm-min-600}) and (max-width: #{$screen-md-min}) {
		flex-direction: column;
	}

	@include xl {
		flex-direction: row;
	}

	.left {
		display: flex;
		justify-content: center;
	}

	.right {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 20px 0;

		@media (max-width: #{$screen-sm-min-600}) {
			flex-direction: column;
			gap: 20px;
		}

		@media (min-width: #{$screen-sm-min-600}) and (max-width: #{$screen-md-min}) {
			flex-direction: row;
			gap: 20px;
		}

		@media (min-width: #{$screen-md-min}) and (max-width: #{$screen-xl-min}) {
			flex-direction: row;
			gap: 10px;
		}

		@include xl {
			flex-direction: column;
			gap: 10px;
		}
	}
}

.reverse {
	flex-direction: row-reverse;
}
