@import 'styles/_mixins';
@import 'styles/_breakpoints';

.one-main-two-subs-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	@media (min-width: #{$screen-sm-min-600}) {
		flex-direction: column;
		row-gap: 20px;
	}

	@include xl {
		flex-direction: row;
		column-gap: 20px;
	}

	.left {
		display: flex;
		justify-content: center;
	}

	.right {
		display: flex;
		justify-content: center;
		flex-direction: column;

		@media (max-width: #{$screen-sm-min-600}) {
			flex-direction: column;
		}

		@media (min-width: #{$screen-sm-min-600}) and (max-width: #{$screen-xl-min}) {
			flex-direction: row;
			column-gap: 20px;
		}

		@include xl {
			flex-direction: column;
			row-gap: 20px;
		}
	}
}