.payment-failed-container {
  height: 650px;
  width: 100vw;
  background-color: #F6F6F6;
  padding: 0 10px 15px;
  display: flex;

  .payment-failed-content {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .warning-icon {
      text-align: center;
    }

    .title {
      text-align: center;
      font-weight: 600;
      font-size: 1.7rem;
      margin-top: 1rem;
    }

    .text {
      margin-top: 1.5rem;
      text-align: center;
      font-size: 1rem;
      color: #7F7F7F;
    }
  }
}