@import "styles/_mixins.scss";

.productdetail-container {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

	@include md {
		padding: 0 1rem 20px;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 20px;
	}

	@include xl {
		margin: 0 auto;
		width: 1180px;
	}

	.product-content-wrapper {
		padding: 0 15px;
		margin-top: 35px;
		margin-bottom: 60px;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);

		@include md {
			margin-top: 0px;
			padding: 0;
			max-width: 398px;
		}

		.product-content {
			border: solid 1px #ccc;
			display: flex;
			flex-direction: column;
			padding: 20px 10px;
			margin-bottom: 1rem;

			@include md {
				margin-bottom: 0;
			}

			.product-tag-bar {
				display: flex;
				align-items: center;
				justify-content: center;

				.purchased-detail-text {
					font-size: 1.071rem;
				}

				.detail-amount {
					font-size: 20px;
					margin: 0 5px;
				}

				.actual-amount {
					font-size: 1.071rem;
					text-decoration: line-through;
				}
			}

		}

		.lure-text {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 10px 0;

			.lure1 {
				margin: 5px 5px 0 0;
				font-size: 18px;
			}

			.lure2 {
				margin: 5px 5px 0 0;
				font-size: 18px;
			}

			.lure3 {
				margin-top: 5px;
			}
		}
	}
}


.sales-end-timer {
	display: flex;
	justify-content: center;
	align-items: center;

	.timer {
		margin-bottom: 20px;
		display: flex;
		align-items: center;

		.readable-time {
			margin-right: 10px;
		}

		.time {
			color: red;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.options-container {
	padding: 0 15px 15px 15px;
}

.input-quantity-container {
	margin-top: 15px;
	width: 100%;
}

.product-features-large-screen {
	display: none;
	padding: 20px 0 0 20px;

	h1 {
		font-weight: bold;
		font-size: 1.714em;
		text-transform: uppercase;
	}

	@include md {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}

.product-features-mobile {
	display: block;

	@include md {
		display: none;
	}
}

.product-features-container {
	padding: 0 10px;
}

.product-return-policy {
	p {
		padding: 0 10px;
	}
}

.client-action-bar-wrapper {
	height: 60px;

	@include md {
		display: none;
	}
}


.delivery-container .delivery-content {
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}