@import "styles/_mixins";
@import "styles/_colors";
@import "styles/_breakpoints";

.productdetail-container {
	position: relative;
	width: 100%;

	@media (min-width: $screen-1280-min) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	@include md {
		padding: 0 1rem 20px;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 10px;
	}

	@include xl {
		margin: 0 auto;
		max-width: 1770px;
	}

	.product-content-wrapper {
		position: sticky;

		/* Height of the header, so it looks like the header is push the div down. */
		top: 70px;
		padding: 0 15px;
		margin-top: 35px;
		margin-bottom: 60px;
		width: 100%;

		@media(min-width: $screen-md-min) {
			margin-bottom: 0;
			margin-top: 0;
			padding: 0;
		}

		@media(min-width: $screen-md-min) and (max-width: $screen-1280-min) {
			max-width: 34%;
		}

		@media(min-width: $screen-1280-min) {
			max-width: 47%;
		}

		.product-content {
			border: solid 1px #ccc;
			background: white;
			display: flex;
			flex-direction: column;
			padding: 20px 10px;
			margin-bottom: 1rem;

			@include md {
				margin-bottom: 0;
			}

			.product-tag-bar {
				display: flex;
				align-items: baseline;
				justify-content: flex-start;
				margin-top: 1rem;

				.detail-amount {
					color: $product-price;
					font-size: 40px;
					font-weight: 700;
					margin: 0;
				}

				.actual-amount {
					color: $original-price;
					font-size: 0.75rem;
					margin-left: 0.5rem;
					text-decoration: line-through;
				}
			}
		}
	}
}

.discount-amount {
	font-size: 1.125rem;
	font-weight: 500;
	color: $product-price;
}

.sales-end-timer {
	display: flex;
	justify-content: center;
	align-items: center;

	.timer {
		margin-bottom: 20px;
		display: flex;
		align-items: center;

		.readable-time {
			margin-right: 10px;
		}

		.time {
			color: red;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.options-container {
	padding: 0 1rem 1rem;
	margin-top: 1.25rem;
}

.input-quantity-container {
	margin-top: 1.25rem;
	width: 100%;
}

.product-features-large-screen {
	display: none;
	padding-top: 5px;
	margin-top: 2.25rem;

	h1 {
		font-weight: bold;
		font-size: 1.714em;
		text-transform: uppercase;
	}

	@include md {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}

.product-features-mobile {
	display: block;

	@include md {
		display: none;
	}
}

.product-features-container {
	padding: 0 10px;
}

.product-return-policy {
	p {
		padding: 0 10px;
	}
}

.client-action-bar-wrapper {
	height: 100px;

	@include md {
		display: none;
	}
}


.delivery-container .delivery-content {
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.product-name {
	font-size: 24px;
	font-weight: 600;
	text-align: left;
}

.bought {
	margin: 0.5rem 0;
	color: $number-bought;
}

.bought .bought-number {
	font-size: 22px;
	font-weight: 600;
	line-height: 1em;
}

.bought .bought-text {
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
}

.bought .in-stock-text {
	color: $dark-green;
	margin-left: 0.3rem;
	font-size: 18px;
	font-weight: 600;
}

.product-subtitle {
	font-size: 1.2rem;
}

.error {
	height: 1.1rem;
	color: #E81120;
}

.ProductDetail__divder-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.ProductDetail__main-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media (min-width: $screen-md-min) {
		flex-direction: row;
	}
}

.ProductDetail__desktop-ads-container {
	display: none;

	@media(min-width: #{$screen-1280-min}) {
		display: block;
	}
}