@import "styles/_mixins";
@import "styles/_colors";
@import "styles/_breakpoints";

.productdetail-container {
	position: relative;
	width: 100%;
	margin-top: 1.875rem;

	@media (min-width: $screen-1280-min) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	@include md {
		margin-top: 6.25rem;
		padding: 0 1rem 20px;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 10px;
	}

	@include xl {
		margin: 6.25rem auto 0;
		max-width: 1400px;
	}

	.product-content-wrapper {
		/* Height of the header, so it looks like the header is push the div down. */
		padding: 0 15px;
		margin-top: 35px;
		margin-bottom: 60px;
		width: 100%;

		@media(min-width: $screen-md-min) {
			margin-bottom: 0;
			margin-top: 0;
			padding: 0;
		}

		@media(min-width: $screen-md-min) and (max-width: $screen-1280-min) {
			max-width: 44%;
		}

		@media(min-width: $screen-1280-min) {
			max-width: 47%;
		}

		.product-content {
			border: solid 1px #ccc;
			background: white;
			display: flex;
			flex-direction: column;
			padding: 20px 10px;
			margin-bottom: 1rem;
			position: sticky;
			top: 145px;

			@include md {
				margin-bottom: 0;
			}

			.product-tag-bar {
				display: flex;
				align-items: baseline;
				justify-content: flex-start;

				.detail-amount {
					color: $primary;
					font-size: 40px;
					font-weight: 700;
					margin: 0;
				}

				.actual-amount {
					color: $cornflowerblue;
					font-size: 1.25rem;
					margin-left: 0.7rem;
					text-decoration: line-through;
				}
			}
		}
	}
}

.discount-amount {
	font-size: 1.125rem;
	font-weight: 500;
	color: $product-price;
}

.sales-end-timer {
	display: flex;
	justify-content: center;
	align-items: center;

	.timer {
		margin-bottom: 20px;
		display: flex;
		align-items: center;

		.readable-time {
			margin-right: 10px;
		}

		.time {
			color: red;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.options-container {
	padding: 0 1rem 1rem;
	margin-top: 1.25rem;
}

.input-quantity-container {
	width: 100%;
	margin: 10px 10px 0 0;
}

.product-features-mobile {
	display: block;

	@include md {
		display: none;
	}
}

.product-features-container {
	padding: 0 10px;
	overflow-x: auto;
}

.product-return-policy {

	p {
		text-align: center;
		padding: 0 10px;
	}
}

.client-action-bar-wrapper {
	height: 100px;

	@include md {
		display: none;
	}
}


.delivery-container .delivery-content {
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.product-name {
	font-size: 2rem;
	text-align: left;
}

.bought {
	margin-bottom: 0.5rem;
	color: $number-bought;
}

.bought .availability-text {
	font-size: 1rem;
	text-transform: uppercase;
	color: $cornflowerblue;
}

.bought .in-stock-text {
	color: $primary;
	margin-left: 0.3rem;
	font-size: 1rem;
	text-transform: uppercase;
}

.product-subtitle {
	font-size: 1.2rem;
}

.error {
	height: 1.1rem;
	color: #E81120;
}

.ProductDetail__divder-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.ProductDetail__main-wrapper {}

.ProductDetail__desktop-ads-container {
	display: none;

	@media(min-width: #{$screen-1280-min}) {
		display: block;
	}
}

.ProductDetailPage__rating {
	display: flex;
	align-items: center;
}

.ProductDetailPage__annotation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.ProductDetailPage__number-bought {
	margin-left: 10px;
	font-size: 1.2rem;
	color: $primary;
	text-transform: capitalize;
	padding-bottom: 6px;
}

.ProductDetail__main-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;

	@media (min-width: $screen-md-min) {
		flex-direction: row;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-1280-min) {
		max-width: 1082px;
		margin: 0 auto;
		gap: 1rem;
	}

	@media (min-width: $screen-1280-min) {
		max-width: 1360px;
	}
}

.ProductDetail__main-bottom {
	display: flex;
	justify-content: center;

	@media (min-width: $screen-1280-min) {
		justify-content: flex-start;
	}
}