.productdetail-container {
  position: relative;
  width: 100%;
}
@media (min-width: 1280px) {
  .productdetail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .productdetail-container {
    padding: 0 1rem 20px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .productdetail-container {
    margin: 0 auto 0;
    max-width: 1400px;
  }
}
.productdetail-container .product-content-wrapper {
  /* Height of the header, so it looks like the header is push the div down. */
  padding: 0 15px;
  margin-top: 35px;
  margin-bottom: 60px;
  width: 100%;
}
@media (min-width: 768px) {
  .productdetail-container .product-content-wrapper {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .productdetail-container .product-content-wrapper {
    max-width: 44%;
  }
}
@media (min-width: 1280px) {
  .productdetail-container .product-content-wrapper {
    max-width: 47%;
  }
}
.productdetail-container .product-content-wrapper .product-content {
  border: solid 1px #ccc;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin-bottom: 1rem;
  position: sticky;
  top: 145px;
  word-break: break-all;
}
@media (min-width: 768px) {
  .productdetail-container .product-content-wrapper .product-content {
    margin-bottom: 0;
  }
}
.productdetail-container .product-content-wrapper .product-content .product-tag-bar {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.productdetail-container .product-content-wrapper .product-content .product-tag-bar .detail-amount {
  color: #D02E7D;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.productdetail-container .product-content-wrapper .product-content .product-tag-bar .actual-amount {
  color: #888;
  font-size: 1.25rem;
  margin-left: 0.7rem;
  text-decoration: line-through;
}

.sales-end-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales-end-timer .timer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.sales-end-timer .timer .readable-time {
  margin-right: 10px;
}
.sales-end-timer .timer .time {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.product-features-mobile {
  display: block;
}
@media (min-width: 768px) {
  .product-features-mobile {
    display: none;
  }
}

.product-features-container {
  padding: 0 10px;
  overflow-x: auto;
}

.product-name {
  font-size: 2rem;
  text-align: left;
}

.bought {
  margin-bottom: 0.5rem;
  color: #EB008C;
}

.bought .availability-text {
  font-size: 1rem;
  text-transform: uppercase;
  color: #888;
}

.bought .in-stock-text {
  color: #D02E7D;
  margin-left: 0.3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.product-subtitle {
  font-size: 1.2rem;
}

.error {
  height: 1.1rem;
  color: #E81120;
}

.ProductDetail__divder-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.ProductDetail__desktop-ads-container {
  display: none;
}
@media (min-width: 1280px) {
  .ProductDetail__desktop-ads-container {
    display: block;
  }
}

.ProductDetail__main-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.ProductDetail__main-bottom {
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .ProductDetail__main-bottom {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=ProdDetail.css.map */
