.container {
	margin: 20px auto;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
	max-width: 666px;

	.product-detail {}

	.product-detail-title {
		padding: 10px;
		h1 {
			font-size: 22px;
		}
	}

	.product-image {}

	.product-info-container {
		padding: 10px;

		.price-info {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			.price-info-left {
				display: flex;
				align-items: center;

				span:not(:first-child) {
					margin-left: 6px;
				}

				.orig-price {
					text-decoration: line-through;
					color: #c1c1c1;
				}

				.price {
					font-size: 24px;
					font-weight: bold;
					color: red;
				}
			}

			.price-info-right {
				display: flex;
				align-items: center;
				span {
					margin-left: 8px;
				}
			}
		}

		.button-container {}
		.product-desc {
			margin-top: 10px;
			div {
				margin-top: 10px;
			}
		}
	}
}

