@import "styles/_mixins.scss";

.productdetail-container {
	position: relative;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	.product-detail {
		width: 100%;
		.product-detail-title {
			padding: 10px 20px;
			h1 {
				font-size: 18px;
				color: #000;
			}

			h2 {
				font-size: 15px;
				line-height: 18px;
				margin: 10px 0 20px 0;
				color: #666;
			}
		}
	}

	.product-detail-img-container {
		img {
			width: 100%;
		}
	}

	.product-content-wrapper {
		padding: 0 15px;
		margin-top: 15px;
		width: 100%;

		.product-content {
			border: solid 1px #ccc;
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;

			.product-tag-bar {
				display: flex;
				align-items: center;
				justify-content: center;

				.purchased-detail-text {
					font-size: 1.071rem;
				}

				.detail-amount {
					font-size: 20px;
					margin: 0 5px;
				}

				.actual-amount {
					font-size: 1.071rem;
					text-decoration: line-through;
				}
			}
		}

		.lure-text {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 10px 0;

			.lure1 {
				margin: 5px 5px 0 0;
    		font-size: 18px;
			}

			.lure2 {
				margin: 5px 5px 0 0;
    		font-size: 18px;
			}

			.lure3 {
				margin-top: 5px;
			}
		}
	}
}


.sales-end-timer {
	display: flex;
	justify-content: center;
	align-items: center;

	.timer {
		margin-bottom: 20px;
		display: flex;
		align-items: center;

		.readable-time {
			margin-right: 10px;
		}

		.time {
			color: red;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.options-container {
	padding: 0 15px;
}

.product-features-container {
	padding: 0 10px;
}

.product-return-policy {
	padding: 0 10px;
}

.client-action-bar {
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #fff;
	display: flex;
	gap: 10px;
	padding: 0 10px;
	align-items: center;

	div {
		flex: 1;
	}
}
