@import 'styles/_breakpoints';

.footer-content {
  color: #666;

  @media (min-width: $screen-md-min) {
    padding-bottom: 30px;
  }

  .content-title {
    margin-top: 0;
    font-weight: 500;
    padding-right: 2rem;
    color: #000;
    font-size: 1rem;
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
    }
  }

  .content-text {
    font-weight: 500;
    font-size: 1rem;
  }

  .content-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1rem;

    @media (min-width: $screen-md-min) {
      line-height: 2rem;
    }

    li {
      cursor: pointer;
      transition: all .3s;
      font-size: 1rem;

      &:hover {
        color: #000;
      }
    }
  }

  .news-letter {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @extend .content-text;
    line-height: 1.3rem;
  }
}