@import 'styles/_breakpoints';

.problematic-page {
  max-height: 520px;
  max-width: 1180px;
  padding: 2rem 1rem 3rem 2rem;
  margin: 0 auto;


  @media (min-width: #{$screen-phone-top-599}) {
    min-height: 520px;
    margin: 0 auto;
  }

  .error-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2.25rem;
  }

  .error-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 3rem;

    img {
      width: 10rem;
      height: 10rem;
    }
  }
}