@import 'styles/_breakpoints';

.checkout-page-container {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	// padding: 30px 90px;

	.left {
		width: 100%;
		padding: 15px;

		.title {
			font-weight: bold;
			font-size: 28px;
			margin-bottom: 18px;
		}

		.shipping-detail-container {
			max-width: 38rem;
			display: grid;
			grid-gap: 1rem;
		}

		.form-container {
			margin-bottom: 15px;
		}
	}
}


.shipping-detail-form {
	display: grid;
	grid-gap: 0.8rem;
}

.shipping-form-field {
	width: 100%;
	//display: flex;
	//flex-direction: column;
	//border: 1px solid #e3e5ed;
	//padding: .5rem;
	//border-radius: .25rem;

	//&:focus-within {
	//border-color: #000;
	//}

	//.field__label {
	//color: #737888;
	//font-size: 0.6rem;
	//font-weight: 300;
	//text-transform: uppercase;
	//margin-bottom: 0.25rem
	//}

	//.field__input {
	//padding: 0;
	//margin: 0;
	//border: 0;
	//outline: 0;
	//font-weight: bold;
	//font-size: 1rem;
	//width: 100%;
	//appearance: none;
	//background-color: transparent;
	//}
}

.shipping-form-fields {
	display: grid;
	grid-gap: 1.2rem;
}

.fields--1 {
	grid-template-columns: 1fr;
}

.fields--2 {
	grid-template-columns: 1fr 1fr;
}

.fields--3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.payment-form-container {
	.card-types {
		display: flex;
		flex-direction: row;

		li {
			width: 35px;
			height: 25px;
			margin: 8px 15px 8px 0;
		}
	}

	.payment-form {
		display: flex;
		flex-direction: column;
	}
}