@import 'styles/_breakpoints';

.checkout-page-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	@media(min-width: #{$screen-phone-top-599}) {
		padding: 0 0.75rem;
	}

	.left {
		width: 100%;

		.title {
			font-weight: bold;
			font-size: 28px;
			margin-bottom: 18px;
			padding: 0 0.75rem;

			@media(min-width: #{$screen-phone-top-599}) {
				padding: 0;
			}
		}

		.shipping-detail-container {
			max-width: 38rem;
			display: grid;
			grid-gap: 1rem;
		}

		.form-container {
			margin-bottom: 15px;
		}
	}
}

.pricing-panel {
	border-radius: 0px;
	margin-bottom: 0px;
	border: none;
	box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 1px, rgb(0 0 0 / 14%) 0px 0px 1px 0px, rgb(0 0 0 / 12%) 0px 2px 1px -1px;

	.product-tiles {
		padding: 0 15px;

		.product-tile {
			padding: 15px 0;
			display: flex;

			.product-desc {
				flex: 1;

				h3 {
					font-weight: 600;
					font-size: 1.1rem
				}

				p {
					margin-top: 8px;
					font-size: 0.8rem;
				}
			}

			.product-price {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				font-weight: 600;
			}
		}

	}

	.form-title {
		font-weight: bold;
		font-size: 1.4rem;
		padding: 0.75rem;
	}
}

.subtotal {
	padding: 0.9375rem 0.9375rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #DFDFDF;

	span {
		font-weight: 600;
	}
}


.shipping-detail-form {
	display: grid;
	grid-gap: 0.8rem;
}

.shipping-form-field {
	width: 100%;
	//display: flex;
	//flex-direction: column;
	//border: 1px solid #e3e5ed;
	//padding: .5rem;
	//border-radius: .25rem;

	//&:focus-within {
	//border-color: #000;
	//}

	//.field__label {
	//color: #737888;
	//font-size: 0.6rem;
	//font-weight: 300;
	//text-transform: uppercase;
	//margin-bottom: 0.25rem
	//}

	//.field__input {
	//padding: 0;
	//margin: 0;
	//border: 0;
	//outline: 0;
	//font-weight: bold;
	//font-size: 1rem;
	//width: 100%;
	//appearance: none;
	//background-color: transparent;
	//}
}

.shipping-form-fields {
	display: grid;
	grid-gap: 1.2rem;
}

.fields--1 {
	grid-template-columns: 1fr;
}

.fields--2 {
	grid-template-columns: 1fr 1fr;
}

.fields--3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.payment-form-container {
	padding: 15px;

	.card-types {
		display: flex;
		flex-direction: row;

		li {
			width: 35px;
			height: 25px;
			margin: 8px 15px 8px 0;
		}
	}

	.payment-form {
		display: flex;
		flex-direction: column;
	}
}