.checkout-result-container {
  width: 100vw;
  background-color: #F6F6F6;
  padding: 2rem 10px 3.5rem;

  .checkout-result-content {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: #7F7F7F;
  }

  .continue-shopping-btn {
    margin-top: 1.5rem;
  }
}

.skeleton-container {
  width: 42rem;
  height: 650px;
  margin: auto;
  padding: 2rem 1rem 2rem;
}