.checkout-result-container {
  width: 100vw;
  background-color: #F6F6F6;
  padding: 50px 10px 15px;


  .checkout-result-content {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .success-icon {}

  .title {
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: #7F7F7F;
  }

  .continue-shopping-btn {
    margin-top: 1.5rem;
  }

  .order-detail-container {
    border: solid 1px #E6E6E6;
    background-color: white;
    margin-top: 1.5rem;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 700;
      font-size: 1.2rem;
    }

    .order-detail-content {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 5px;


      .order-detail-row {
        &:last-of-type {
          margin-bottom: 0.75rem;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .order-title {}

        .data {
          font-weight: 500;
        }
      }

      .amount-content {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        .amount-left {
          width: 60%;
        }

        .amount-right {
          display: flex;
          flex-direction: column;
          width: 40%;
          gap: 4px;

          .amount-row {
            display: flex;
            flex-direction: row;
            width: 100%;

            label {
              text-align: left;
              width: 69%;
              display: flex;
              justify-content: flex-start;
            }

            .data {
              width: 31%;
              display: flex;
              justify-content: flex-end;
              font-weight: 500;
            }
          }

        }

      }
    }
  }
}


.customer-detail-container {
  width: 100%;
  margin-top: 1.5rem;

  h1 {
    font-weight: 600;
    font-size: 1.4rem;
  }

  h2 {
    font-weight: 600;
  }

  .customer-detail {
    display: flex;
    gap: 1rem;
    margin-top: 0.75rem;
    width: 100%;

    .contact {
      flex: 1;
    }

    .billing-address {
      flex: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
  }
}