@import 'styles/_colors';

.CategoriesNav__item {
  background-image: linear-gradient($primary, $primary);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: background-size 0.2s;

  &:hover {
    background-size: 100% 2px;
  }
}

.fromLeft {
  background-position: 0 calc(100% - 0px);
}
