@import 'styles/_mixins';
@import 'styles/_breakpoints';
@import 'styles/_colors';

.header-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(180, 180, 180, 0.4);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	box-sizing: border-box;

	.contact-container {
		height: 0.5rem;
		width: 100%;

		.contact-content {
			color: $white;
			font-size: 12px;
			margin: 0 15px;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				margin-right: 5px;
			}

			i {
				font-weight: bold;
				margin-right: 5px;
			}
		}
	}

	.header-content-container {
		width: 100%;
		height: 80px;
		box-sizing: border-box;
		background-color: transparent;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.HeaderWrapp__header-content-container-scrolled {
	background-color: white !important;
	transition: background-color 200ms linear;
}

.header-content-container {
	display: flex;
	flex-direction: column;

}

.header-wrapper_top {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 1rem;
	border-bottom: solid 1px $border-color;

	width: 100%;
	height: 100%;
}

.header-wrapper_category-bar {
	width: 100%;
	background-color: $gallery;
}