@import 'styles/_mixins';
@import 'styles/_breakpoints';

.header-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(180, 180, 180, 0.4);
	position: sticky;
	top: 0;
	height: 70px;
	width: 100%;
	z-index: 10;
	background: #fff;
	box-sizing: border-box;

	.contact-container {
		height: 0.5rem;
		width: 100%;

		.contact-content {
			color: #fff;
			font-size: 12px;
			margin: 0 15px;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				margin-right: 5px;
			}

			i {
				font-weight: bold;
				margin-right: 5px;
			}
		}
	}

	.header-content-container {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 0.5rem 1rem;

		@media(min-width: #{$screen-min-899}) {
			padding: 0.5rem 3rem;
		}
	}
}