.animated-header {
  display: inline-block;
  color: white;
  font-family: 'Poppins', serif;
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);

  &:after {
    content: attr(data-shadow);
    position: absolute;
    top: .07em;
    left: .07em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
      );
    background-size: .1em .1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 100s linear infinite;
  }
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}

.gradient-border {
  $border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * $border-width);
    left: calc(-1 * $border-width);
    z-index: -1;
    width: calc(100% + $border-width * 2);
    height: calc(100% + $border-width * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 1.25rem;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}