@import "styles/_breakpoints";

.Header__search-bar {
  flex: 3;
  display: none;

  @media(min-width: $screen-md-min) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Header__nav-bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;

  @media(min-width: $screen-md-min) {
    width: 15%;
    justify-content: flex-start;
  }
}

.Header__nav-bar-wrapper {
  display: flex;
  align-items: center;

  @media(min-width: $screen-md-min) {
    width: 100%;
  }
}