@import 'styles/_mixins';

.header-container {
	display: flex;
	flex-direction: column;
	box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
	background: #fff;

	.contact-container {
		height: 0.5rem;
		width: 100%;

		.contact-content {
			color: #fff;
			font-size: 12px;
			margin: 0 15px;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				margin-right: 5px;
			}

			i {
				font-weight: bold;
				margin-right: 5px;
			}
		}
	}

	.header-content-container {
		padding-top: 0.5rem;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1180px;
		width: 100%;
		padding: 0 15px;


		.searchbar-container {
			display: flex;
			flex: 5;
		}

		.category-nav-container {
			width: 100%;
			margin: 0 auto;
		}
	}
}