@import 'styles/_breakpoints';
@import 'styles/_colors';

.breadscrum {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 6px 0;
}

.breadscrum-back {
  margin-right: 1.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
  }
}

.back-text {
  margin: 0;
  margin-left: 0.8rem;
  font-weight: 500;
}

.breadcrumbs-link {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs-link-active {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none !important;
  color: $raisin-black;
}