@import "styles/_colors";

.TopProductsColumn__banner {
  padding-bottom: 20px;
  width: 100%;
  height: 385px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.TopProductsColumn__banner-text {
  color: white;
  text-align: center;
  margin-bottom: 0.3rem;
}