@import 'styles/_dialog_list.scss';
@import 'styles/_colors.scss';

.MobileSearch__wrapper {
  @include dialog-list-wrapper;
}

.MobileSearch__title {
  @include dialog-list-title;
}

.MobileSearch__searchbar {
  width: 100%;
  margin-left: 10px;
}

.MobileSearch__result-wrapper {
  margin-top: 1rem;
}

.MobileSearch__result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MobileSearch__result-item {
  padding: 0.8rem 1rem;
  cursor: pointer;
  line-height: 1.25;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $gray-hover-bg;
  }

  a {
    margin: 0;
  }

  p {
    margin: 0;
  }
}