@import 'styles/_breakpoints';

.footer-tablet-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px 1rem 0 1rem;
  background-color: #EDEDED;
  border: 1px solid #E5E5E5;

  @media(min-width: #{$screen-1024-min}) {
    grid-template-columns: 25% 25% 25% 25%;
    border-right: 1px solid #E5E5E5;
  }

  .tablet-footer-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:last-child {
      border-right: none;
    }
  }
}