@import 'styles/_mixins';

.client-action-bar-large {
  display: none;

  @include md {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
}

.ProductActionBarLeft__btn {
  min-width: 105px;
}