@import 'styles/_breakpoints';

.productRowsContainer_wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.productRowsContainer_product-row {
	width: 100%;
	display: flex;
	justify-content: center;

	@media (min-width: $screen-phone-top-599) {
		margin-bottom: 1rem;
	}
}