.shipping-form-fields {
  display: grid;
  grid-gap: 1.2rem;
  margin-bottom: 0.7rem;
}

.fields--1 {
  grid-template-columns: 1fr;
}

.fields--2 {
  grid-template-columns: 1fr 1fr;
}

.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}