@import 'styles/_breakpoints';

.footer-container {
  padding-bottom: 25px;
  background-color: #f5f5f5;
  width: 100%;

  .footer-mobile-accordion-container {
    @media (min-width: #{$screen-md-min}) {
      display: none;
    }
  }

  .footer-tablet-layout-container {
    display: none;

    @media(min-width: #{$screen-md-min}) {
      display: block;
    }
  }
}

.desc {
  line-height: 1.3rem;
}

.contact-email {
  text-align: left;
}

.bottom-part {
  padding: 0 1rem;

  @media(min-width: $screen-1024-min) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .payment-methods {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    @media(min-width: $screen-1024-min) {
      flex: 1;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 38px;
        height: 24px;
        margin: 0.624rem;
      }
    }
  }

  .company-sign {
    text-align: center;
    width: 100%;
    margin: 0.675rem 0 1.5rem;
    font-size: 14px;

    @media(min-width: $screen-1024-min) {
      margin: 0;
      flex: 1;
    }
  }

  .social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: #{$screen-md-min}) {
      justify-content: center;
    }

    @media(min-width: $screen-1024-min) {
      flex: 1;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}