.footer-container {
  padding-top: 30px;
  background-color: #f5f5f5;
  width: 100%;

  .footer-list {
    list-style: none;
    padding: 0;
    padding: 0 1rem;

    li {
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 39.5px;
        width: 100%;
        cursor: pointer;
        margin-bottom: 1rem;

        h3 {
          margin: 0;
          font-weight: 500;
          font-size: 1rem;
        }
      }

      .footer-list-content {
        transition: max-height .4s ease-in-out;
        width: 100%;
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}

.desc {
  line-height: 1.3rem;
}

.footer-item-grow {
  max-height: 300px !important;
}

.hide {
  display: none;
}

.show {
  height: 0px;
  display: block !important;
}

.contact-email {
  text-align: left;
}

.payment-methods {
  padding: 0 1rem;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 38px;
      height: 24px;
      margin: 0.624rem;
    }
  }
}