@import "styles/_colors";

.carousel__scrollButton__wrapper {
  transition: opacity 0.25s ease-in-out 0s;
  border: none !important;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__scrollButton__wrapper-right {
  @extend .carousel__scrollButton__wrapper;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.carousel__scrollButton__circle {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 2px 4px 3px 1px;
  background-color: $primary;
}

.carousel__scrollButton__left-arrow {
  position: absolute;
  top: 30%;
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-width: 0px 0.125rem 0.125rem 0px;
  border-radius: 0px 0.125rem;
  transform: rotate(135deg);
  left: 40%;
}

.carousel__scrollButton__right-arrow {
  @extend .carousel__scrollButton__left-arrow;
  left: 20%;
  transform: rotate(-45deg);
}