@import "styles/_colors";

.carousel__scrollButton__wrapper {
  transition: opacity 0.25s ease-in-out 0s;
  border: none !important;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25rem;
  height: 100%;
  background-color: white;
}

.carousel__scrollButton__wrapper-right {
  @extend .carousel__scrollButton__wrapper;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.carousel__scrollButton__circle {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;

  border-radius: 50%;
  border: 1px solid #757575;
  background-color: white;
}

.carousel__scrollButton__left-arrow {
  position: absolute;
  top: 30%;
  width: 12px;
  height: 12px;
  border-style: solid;
  border-color: #757575;
  border-image: initial;
  border-width: 0px 0.125rem 0.125rem 0px;
  border-radius: 0px 0.125rem;
  transform: rotate(135deg);
  left: 40%;
}

.carousel__scrollButton__right-arrow {
  @extend .carousel__scrollButton__left-arrow;
  left: 20%;
  transform: rotate(-45deg);
}