@import "styles/_mixins";
@import "styles/_breakpoints";

.large-grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;

	@include sm-600 {
		max-width: 600px;
	}

	.product-desc-container {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 11px;
		max-width: 600px;
		min-height: 113px;
		position: absolute;
		left: 0;
		bottom: 0;

		@media(min-width: #{$screen-sm-min-600}) {
			position: relative;
			height: 100%;
			align-items: center;
			background-color: white;
		}

		.info {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex: 4;

			.headline {
				font-size: 1.125rem;
				font-weight: bold;
				color: white;

				@media(min-width: #{$screen-sm-min-600}) {
					color: rgb(51, 51, 51);
					margin: 0;
					font-size: 1.2rem;
				}
			}

			.desc {
				display: none;

				@media(min-width: #{$screen-sm-min-600}) {
					display: block;
				}
			}
		}

		.btn-container {
			display: none;

			@media(min-width: #{$screen-sm-min-600}) {
				display: flex;
				flex-direction: column;
				flex: 1;
				justify-content: flex-end;
				height: 100%;
			}
		}
	}
}

.large-grid-image {
	aspect-ratio: 1/1;
	width: 600px;
}

.image-container {
	max-width: 600px;
	max-height: 600px;
	position: relative;

	@media (min-width: #{$screen-sm-min-600}) {
		max-width: 600px;
		max-height: 600px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, transparent 0%, black 170%);

		@media (min-width: #{$screen-sm-min-600}) {
			position: relative;
			background: none;
		}
	}
}