@import "styles/_mixins";

.large-grid-image {
	width: 100%;
	height: auto;
	aspect-ratio: 414/277;

	@include sm {
		height: 378px;
	}


	@include md {
		height: 445px;
	}

	@include xl {
		height: 486px;
	}
}
