@import "styles/_mixins";
@import "styles/_breakpoints";

.large-grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
	max-width: 712px;

	@media (min-width: $screen-phone-top-599) {
		border-radius: 10px;
	}

	.product-desc-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px;
		width: 100%;
		min-height: 110px;
		position: absolute;
		left: 0;
		bottom: 0;
		box-sizing: border-box;


		.info {
			.headline {
				font-size: 1.125rem;
				font-weight: bold;
				color: white;

				@media(min-width: #{$screen-sm-min-600}) {
					color: white;
					margin: 0;
					font-size: 1.2rem;
				}
			}

			.desc {
				display: none;

				@media(min-width: #{$screen-sm-min-600}) {
					display: block;
				}
			}
		}

		.btn-container {
			display: none;

			a {
				text-decoration: none;
			}

			@media (min-width: #{$screen-sm-min-600}) {
				display: block;
			}
		}
	}
}

.large-grid-image {
	background-color: #FFF;
	aspect-ratio: 1/1;
	width: 712px;
}

.image-container {
	max-width: 600px;
	max-height: 600px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background: linear-gradient(to bottom, transparent 75%, black 120%);
	}

	@media (min-width: #{$screen-sm-min-600}) {
		max-width: 712px;
		max-height: 712px;
	}
}

.LargeGrid__disable-clickable-grid {
	cursor: none;
}