@import 'styles/_mixins';
@import 'styles/_breakpoints';

.medium-grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;

	@include sm-600 {
		width: 346px;
		height: 346px;
	}

	.image-container {
		max-width: 600px;
		max-height: 600px;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(to bottom, transparent 0%, black 170%);
		}

		@media (min-width: #{$screen-sm-min-600}) {
			&:after {
				position: relative;
			}
		}
	}

	.product-desc-container {
		display: flex;
		align-items: center;
		padding: 11px;
		position: absolute;
		left: 0;
		bottom: 0;
		min-height: 62px;

		.prod-info {

			p {
				display: none;
				color: white;
			}

			@media(min-width: $screen-sm-min-600) {
				flex: 2;
			}

			@include phoneOnly {
				p {
					display: none;
				}
			}

			.headline {
				font-size: 16px;
				line-height: 1.3;
				font-weight: 600;
				margin: 0;
				color: white;

				@media(min-width: $screen-sm-min-600) {
					font-weight: 500;
					font-size: 0.8rem;
				}
			}
		}

		.view-btn-container {
			display: none;

			a {
				text-decoration: none;
			}

			@media(min-width: $screen-sm-min-600) {
				flex: 1;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.medium-grid-image {
	aspect-ratio: 1/1;
	width: 100%;
}