@import 'styles/_mixins';
@import 'styles/_breakpoints';

.medium-grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;

	@include sm-600 {
		max-width: 273px;
	}

	@include md {
		max-width: 329px;
	}

	@include xl {
		max-width: 353.33px;
	}

	.image-container {
		width: 100%;
		height: 100%;

		@media (max-width: #{$screen-sm-min-600}) {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(to bottom, transparent 0%, black 170%);
			}
		}

		@include xl {
			height: 236.33px;
		}
	}
}

.prod-main-image {
	width: 100%;
	height: auto;
	aspect-ratio: 414/277;

	@include sm {
		//height: 182px;
	}


	@include md {
		height: 216px;
	}

	@include xl {
		height: 236px;
	}
}
