@import 'styles/_mixins';
@import 'styles/_breakpoints';

.medium-grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;

	@include sm-600 {
		max-width: 273px;
	}

	@include md {
		max-width: 329px;
	}

	@include xl {
		max-width: 353.33px;
	}

	.image-container {
		max-width: 600px;
		max-height: 600px;

		@media (max-width: #{$screen-sm-min-600}) {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(to bottom, transparent 0%, black 170%);
			}
		}

		@include xl {
			height: 236.33px;
		}
	}

	.product-desc-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px;

		@include sm-600-max {
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.prod-info {
			p {
				display: none;
				color: white;
			}

			@include phoneOnly {
				p {
					display: none;
				}
			}

			.headline {
				font-size: 13px;
				line-height: 1.3;
				font-weight: bold;
				margin: 0;
				color: rgb(51, 51, 51);

				@include phoneOnly {
					color: white;
					font-size: 16px;
				}
			}
		}

		.view-btn-container {
			@include phoneOnly {
				display: none;
			}
		}
	}
}

.medium-grid-image {
	aspect-ratio: 1/1;

	@include md {
		height: 216px;
	}

	@include xl {
		height: 236px;
	}
}