@import 'styles/_mixins';
@import 'styles/_breakpoints';

.medium-grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	box-shadow: 0rem 0.2rem 0.6rem 0rem hsla(0deg, 0%, 0%, 0.3);

	max-width: 720px;
	// max-height: 720px;

	@media(min-width:$screen-phone-top-599) {
		border-radius: 10px;
	}

	@media (min-width:#{$screen-720-min}) {
		width: 346px;
		// height: 346px;
	}

	.image-container {
		max-width: 720px;
		// max-height: 720px;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}


		@media (min-width:#{$screen-720-min}) {
			// width: 346px;
			height: 346px;
		}
	}

	.product-desc-container {
		display: flex;
		align-items: center;
		left: 0;
		bottom: 0;
		min-height: 62px;
		width: 100%;
		box-sizing: border-box;

		.prod-info {
			p {
				display: none;
				color: white;
			}

			@media(min-width: $screen-sm-min-600) {
				flex: 2;
			}

			@include phoneOnly {
				p {
					display: none;
				}
			}

			.headline {
				font-size: 16px;
				line-height: 1.3;
				font-weight: 600;
				margin: 0;

				@media(min-width: $screen-sm-min-600) {
					font-weight: 500;
					font-size: 1rem;
				}
			}
		}

		.view-btn-container {
			display: none;

			a {
				text-decoration: none;
			}

			@media(min-width: $screen-sm-min-600) {
				flex: 1;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.medium-grid-image {
	aspect-ratio: 1/1;
	width: 600px;
}