@import "styles/_breakpoints.scss";
@import "styles/_mixins.scss";

.shopping-cart-section {
	width: 100%;
	padding: 0 20px;
}

.shopping-cart-container {
	max-width: 1180px;
	margin: 0 auto;
	padding-bottom: 3.75rem;

	.shopping-cart_topbar {
		.title {
			font-size: 2em;
			font-weight: bold;
			margin-block-start: 0.67em;
			margin-block-end: 0.67em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}
	}

	.cart-items-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 2.25rem;

		.head-row {
			display: none;

			@include md {
				display: flex;
			}

			width: 100%;
			border-bottom: 1px solid #eee;
			line-height: 1.5;
			font-size: 1.2em;

			h1,
			div {
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1.875rem;
				padding-bottom: 15px;
			}

			.description-label {
				width: 57%;
				display: flex;
				justify-content: flex-start;
				padding-left: 8.3rem;
			}

			.price-label {
				width: 12%;
			}

			.quantity-label {
				width: 10%;
			}

			.total-label {
				width: 21%;
				text-align: right;
			}

		}

		.cart-item {
			display: flex;
			flex-direction: column;
			margin-top: 15px;
			padding-bottom: 0.75em;
			border-bottom: 1px solid #eee;

			@include md {
				flex-direction: row;
			}

			.top {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				gap: 1rem;

				@include md {
					justify-content: flex-start;

					gap: 2.25rem;

				}

				.product-description {
					display: flex;
					flex-direction: column;
					width: 65%;

					.product-price-mobile {
						display: block;
						color: #e3472f;
						font-size: 18px;
						font-weight: bold;

						@include md {
							display: none;
						}
					}
				}

				@include md {
					width: 57%;
					flex-direction: row;
				}
			}

			.bottom {
				display: flex;
				flex-direction: row;
				padding-bottom: 8px;

				.product-price {
					width: 70px;
				}

				.product-quantity {
					width: 100px;
				}

				.product-total {
					display: none;
				}

				@include md {
					width: 43%;

					.product-price {
						width: 28%;
					}

					.product-quantity {
						width: 40%;
					}

					.product-total {
						display: block;
						width: 32%;
						text-align: right;
					}
				}
			}
		}

		.result-row {
			margin-top: 20px;
			display: flex;


			.left {
				width: 0%;

				@media (min-width: #{$screen-sm-min}) {
					width: 60%;
				}


				@media (min-width: #{$screen-md-min}) {
					width: 69%;
				}
			}

			.right {
				width: 100%;

				@media (min-width: #{$screen-sm-min}) {
					width: 40%;
				}

				@media (min-width: #{$screen-md-min}) {
					width: 31%;
				}

				display: flex;
				flex-direction: column;
				gap: 7px;
			}

			div {
				display: flex;
				align-items: flex-start;
				width: 100%;

				label {
					display: flex;
					flex: 1;
					justify-content: flex-start;
					color: #aaa;
					font-size: 20px;
				}

				.result-value {
					flex: 1;
					display: flex;
					justify-content: flex-end;
				}
			}

			.grand-total {
				label {
					font-weight: bold !important;
				}
			}

			.checkout-button {
				margin-top: 30px;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}