.shopping-cart-section {
  width: 100%;
  padding: 0 20px;
}

.shopping-cart-container {
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 3.75rem;
}
.shopping-cart-container .shopping-cart_topbar .title {
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.shopping-cart-container .cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2.25rem;
}
.shopping-cart-container .cart-items-container .head-row {
  display: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  line-height: 1.5;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .head-row {
    display: flex;
  }
}
.shopping-cart-container .cart-items-container .head-row h1,
.shopping-cart-container .cart-items-container .head-row div {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.875rem;
  padding-bottom: 15px;
}
.shopping-cart-container .cart-items-container .head-row .description-label {
  width: 57%;
  display: flex;
  justify-content: flex-start;
  padding-left: 8.3rem;
}
.shopping-cart-container .cart-items-container .head-row .price-label {
  width: 12%;
}
.shopping-cart-container .cart-items-container .head-row .quantity-label {
  width: 10%;
}
.shopping-cart-container .cart-items-container .head-row .total-label {
  width: 21%;
  text-align: right;
}
.shopping-cart-container .cart-items-container .cart-item {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .cart-item {
    flex-direction: row;
  }
}
.shopping-cart-container .cart-items-container .cart-item .top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .cart-item .top {
    justify-content: flex-start;
    gap: 2.25rem;
  }
}
.shopping-cart-container .cart-items-container .cart-item .top .product-description {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.shopping-cart-container .cart-items-container .cart-item .top .product-description .product-price-mobile {
  display: block;
  color: #e3472f;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .cart-item .top .product-description .product-price-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .cart-item .top {
    width: 57%;
    flex-direction: row;
  }
}
.shopping-cart-container .cart-items-container .cart-item .bottom {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}
.shopping-cart-container .cart-items-container .cart-item .bottom .product-price {
  width: 70px;
}
.shopping-cart-container .cart-items-container .cart-item .bottom .product-quantity {
  width: 100px;
}
.shopping-cart-container .cart-items-container .cart-item .bottom .product-total {
  display: none;
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .cart-item .bottom {
    width: 43%;
  }
  .shopping-cart-container .cart-items-container .cart-item .bottom .product-price {
    width: 28%;
  }
  .shopping-cart-container .cart-items-container .cart-item .bottom .product-quantity {
    width: 40%;
  }
  .shopping-cart-container .cart-items-container .cart-item .bottom .product-total {
    display: block;
    width: 32%;
    text-align: right;
  }
}
.shopping-cart-container .cart-items-container .result-row {
  margin-top: 20px;
  display: flex;
}
.shopping-cart-container .cart-items-container .result-row .left {
  width: 0%;
}
@media (min-width: 576px) {
  .shopping-cart-container .cart-items-container .result-row .left {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .result-row .left {
    width: 69%;
  }
}
.shopping-cart-container .cart-items-container .result-row .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 576px) {
  .shopping-cart-container .cart-items-container .result-row .right {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .shopping-cart-container .cart-items-container .result-row .right {
    width: 31%;
  }
}
.shopping-cart-container .cart-items-container .result-row div {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.shopping-cart-container .cart-items-container .result-row div label {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  color: #aaa;
  font-size: 20px;
}
.shopping-cart-container .cart-items-container .result-row div .result-value {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.shopping-cart-container .cart-items-container .result-row .grand-total label {
  font-weight: bold !important;
}
.shopping-cart-container .cart-items-container .result-row .checkout-button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=cart.css.map */
