@import 'styles/_breakpoints';
@import 'styles/_colors';

.main-container {
	min-height: 100%;
	min-height: 35rem;
}

.__Index__wrapper {
	padding-top: 110px;

	@media (min-width: $screen-md-min) {
		padding-top: 160px;
	}

	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/images/home-gradient-light-sm.png");

	@media (min-width:$screen-sm-min-600) {
		background-image: url("/images/home-gradient-light.png");
	}
}