@import 'styles/_colors';

.RightTiltBox__text {
  color: white;
  position: relative;
  background-color: $primary;
  max-width: 120px;
  padding: 2px 6px 2px 7px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;

  &:after {
    left: 100%;
    border-bottom: 23px solid $primary;
    border-right: 23px solid transparent;
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
  }
}