.SunShineTag {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 1;
}

.SunShineTag__left {
  top: -27px;
  left: -43px;
}

.SunShineTag__right {
  top: -30px;
  right: -30px;
}

.SunShineTag__right>.SunShineTag__text {
  left: 43%;
  top: 50%;
  transform: translate(-33%, -44%);
}

.SunShineTag__text {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-33%, -44%);
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
  line-height: 1.3;
}

.SunShineTag {
  position: absolute;

  img {
    width: 100%;
    height: 100%;
  }
}