.SunShineTag {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 1;
}

.SunShineTag__left {
  top: 0.2rem;
  left: 0.2rem;
}

.SunShineTag__right {
  top: 0.2rem;
  right: 0.2rem;
}

.SunShineTag__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  line-height: 1.3;
}

.SunShineTag {
  position: absolute;

  img {
    width: 100%;
    height: 100%;
  }
}