@import 'styles/_mixins';
@import 'styles/_breakpoints';

.prod-list-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2.25rem;

	@media (min-width: #{$screen-md-min}) and (max-width: #{$screen-xl-min}) {
		max-width: 992px;
	}

	@include xl {
		width: 1100px;
	}
}

.prod-list-breadcrumbs-container {
	@media (min-width: $screen-sm-min-600) {
		width: 600px;
	}

	@media (min-width: $screen-xl-min) {
		width: 912px;
	}
}

.prod-collection-container {
	@extend .prod-list-container;
	margin-top: 0;
}

.ProductList__loadmore-container {
	height: 6.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
}