@import 'styles/_mixins';
@import 'styles/_breakpoints';

.prod-list-container {
	margin: 0 auto;
	padding-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

	@media (min-width: #{$screen-md-min}) and (max-width: #{$screen-xl-min}) {
		max-width: 992px;
	}

	@include xl {
		width: 1100px;
	}
}
