@import 'styles/_mixins';
@import 'styles/_breakpoints';

.prod-list-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 7.25rem;

	@media (min-width: #{$screen-md-min}) and (max-width: #{$screen-xl-min}) {
		max-width: 992px;

		margin-top: 170px;
	}

	@include xl {
		margin-top: 170px;
		width: 1100px;
	}
}

.prod-list-breadcrumbs-container {
	@media (min-width: $screen-sm-min-600) {
		width: 600px;
	}

	@media (min-width: $screen-xl-min) {
		width: 912px;
	}
}

.ProductList__loadmore-container {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Search__title-wrapper {
	padding: 1rem 2.25rem;
	width: 100%;

	p {
		font-size: 1.6rem;
		font-weight: 600;
	}
}