@import 'styles/_mixins';
@import 'styles/_breakpoints';

.prod-list-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 65px;

	@media (min-width: #{$screen-md-min}) and (max-width: #{$screen-xl-min}) {
		max-width: 992px;
		margin-top: 125px;
	}

	@include xl {
		margin-top: 120px;
		width: 1100px;
	}
}

.prod-list-breadcrumbs-container {
	width: 100%;
	padding: 10px;

	@media (min-width: $screen-sm-min-600) {
		max-width: 712px;
		margin: 0 auto;
	}

	@media (min-width: $screen-xl-min) {
		max-width: 1080px;
	}
}

.ProductList__loadmore-container {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Search__title-wrapper {
	padding: 1rem 2.25rem;
	width: 100%;

	p {
		font-size: 1.6rem;
		font-weight: 600;
	}
}

.Index__wrapper {
	@media (min-width: $screen-1600-min) {
		display: grid;
		grid-template-columns: [left-ads] auto 1100px [right-ads] auto;
	}
}

.Index__left-ads-wrapper {
	display: none;

	@media (min-width: $screen-1600-min) {
		margin-top: 10.7rem;
		display: flex;
		justify-content: flex-end;
		margin-right: 2rem;
	}
}

.Index__right-ads-wrapper {
	display: none;

	@media (min-width: $screen-1600-min) {
		margin-top: 10.7rem;
		display: flex;
		justify-content: flex-start;
		margin-left: 2rem;
	}
}