@import 'styles/_mixins';
@import 'styles/_breakpoints';

.prod-list-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.prod-list-breadcrumbs-container {
	width: 100%;
	padding: 10px;

	@media (min-width: $screen-sm-min-600) {
		max-width: 712px;
		margin: 0 auto;
	}

	@media (min-width: $screen-xl-min) {
		max-width: 1080px;
	}
}

.Search__title-wrapper {
	padding: 1rem 2.25rem;
	width: 100%;

	p {
		font-size: 1.6rem;
		font-weight: 600;
	}
}

.Index__wrapper {
	width: 100%;
}