.StaticPage-page {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0.75rem;
  margin-bottom: 1.75rem;
}

.StaticPage-title {
  font-size: 2rem;
  margin: 2rem 0 2.5rem;
  line-height: 1.15rem;
}

.StaticPage-subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: #04844B;
  font-weight: 600;
  margin-top: 20px;
}

.StaticPage-h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: #04844B;
  font-weight: 600;
  margin-top: 20px;
}

.StaticPage-content {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75;
  color: #595959;
}


.peasydeal-v1 .display,
.peasydeal-v1 h1,
.peasydeal-v1 .h1,
.peasydeal-v1 h2,
.peasydeal-v1 .h2,
.peasydeal-v1 h3,
.peasydeal-v1 .h3,
.peasydeal-v1 h4,
.peasydeal-v1 .h4 {
  margin-bottom: .625rem;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 600;
  text-align: center;
  color: #363636;
}

.peasydeal-v1 {
  color: #3c484e;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75;
  color: #595959;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  blockquote {
    text-align: center;
    background: #f5f5f5;
    padding: 1.2em;
    margin: 1em auto;
    font-weight: 400;
    border-radius: 10px;
    font-style: italic;

    p {
      padding: 0;
      margin: 0;
    }
  }

  hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid color(var(--lightgrey) l(+10%));
  }

  h1 {
    color: #595959;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0 2.5rem;
    line-height: 1.15rem;
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 2.2rem;
      line-height: 1.4
    }
  }

  h2 {
    display: inline-block;
    font-weight: 600;
    margin: 1em 0 0.875em;
    font-size: 1.875rem;
    line-height: 1.43
  }

  @media (min-width: 600px) {
    h2 {
      font-size: 2rem;
      line-height: 1.33
    }
  }

  h3 {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 1em 0 0.875em;
    font-size: 1.75rem;
    line-height: 1.33
  }

  @media (min-width: 600px) {
    h3 {
      font-size: 1.875rem;
      line-height: 1.54
    }
  }

  h4 {
    display: inline-block;
    font-weight: 600;
    margin: 0;
    font-size: 2rem;
    line-height: 1.4
  }

  @media (min-width: 600px) {
    h4 {
      font-size: 2.2rem;
      line-height: 1.45
    }
  }

  h5 {
    font-size: 1.8rem;
    line-height: 1.56
  }

  h5,
  h6 {
    display: inline-block;
    font-weight: 600;
    margin: 0
  }

  h6 {
    font-size: 1.6rem;
    line-height: 1.5
  }

  p {
    margin: 0 0 1rem
  }

  @media (min-width: 768px) {
    p {
      margin: 0 0 1.5rem
    }
  }

  body {
    font-size: 1.6rem;
    line-height: 1.75
  }

  i {
    font-style: normal
  }

  strong {
    color: #000;
    font-weight: 600
  }

  ul {
    list-style-type: disc;

    li {
      margin-left: 1rem;
    }
  }

  a {
    color: #d02e7d;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #8c1750;
      text-decoration: none;
    }
  }

}