body {
  background: #f6f6f6 !important;
}

.tracking-order-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem 1rem 3rem 1rem;
  margin-top: 6.5rem;
}
.tracking-order-container .order-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}
.tracking-order-container .order-subtitle {
  display: flex;
  margin-bottom: 1rem;
}
.tracking-order-container .order-subtitle .order-subtitle-info {
  display: flex;
  font-size: 14px;
  color: rgb(130, 129, 131);
}
.tracking-order-container .order-subtitle .order-subtitle-info:first-child {
  padding-right: 1rem;
  border-right: 1px solid #e5e5e5;
}
.tracking-order-container .order-subtitle .order-subtitle-info:last-child {
  padding-left: 1rem;
  color: rgb(0, 179, 59);
}
.tracking-order-container .order-products-container {
  border: 1px solid #e5e5e5;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  background: white;
}
.tracking-order-container .order-products-container .order-product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #E5E5E5;
}
.tracking-order-container .order-products-container .order-product:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.tracking-order-container .order-products-container .order-product .left {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.tracking-order-container .order-products-container .order-product .left .product-img {
  margin-right: 0.75rem;
}
.tracking-order-container .order-products-container .order-product .left .product-img img {
  width: 75px;
  height: 75px;
}
.tracking-order-container .order-products-container .order-product .left .product-spec-info .product-name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.tracking-order-container .order-products-container .order-product .left .product-spec-info .product-spec {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgb(130, 129, 131);
}
.tracking-order-container .order-products-container .order-product .right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.tracking-order-container .order-products-container .order-product .right .price-qty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tracking-order-container .order-products-container .order-product .right .price-qty p:first-child {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.tracking-order-container .order-products-container .order-product .right .price-qty p:last-child {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(130, 129, 131);
}
.tracking-order-container .deliver-info-container {
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  background: white;
}
.tracking-order-container .deliver-info-container:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.tracking-order-container .deliver-info-container h1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
.tracking-order-container .deliver-info-container .cost-info-box {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.tracking-order-container .deliver-info-container .info-piece {
  margin-bottom: 1rem;
}
.tracking-order-container .deliver-info-container .info-piece:last-child {
  margin-bottom: 0;
}
.tracking-order-container .deliver-info-container .info-piece h4 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(130, 129, 131);
}
.tracking-order-container .deliver-info-container .info-piece p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
}
.tracking-order-container .deliver-info-container .info-piece .price-info {
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgb(130, 129, 131);
}
.tracking-order-container .deliver-info-container .info-piece .price-info p {
  margin: 0;
}
.tracking-order-container .deliver-info-container .info-piece .price-info .title-with-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tracking-order-container .deliver-info-container .info-piece .price-info p {
  flex: 1;
}
.tracking-order-container .deliver-info-container .info-piece .price-info p:last-child {
  display: flex;
  justify-content: flex-end;
}
.tracking-order-container .deliver-info-container .subtotal {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}
.tracking-order-container .deliver-info-container .subtotal p {
  flex: 1;
}
.tracking-order-container .deliver-info-container .subtotal p:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tracking-order-container .deliver-info-container .subtotal .discount {
  text-transform: uppercase;
  color: rgb(0, 179, 59);
  font-size: 0.75rem;
  font-weight: 500;
}
.tracking-order-container .deliver-info-container .total {
  display: flex;
}
.tracking-order-container .deliver-info-container .total p {
  flex: 1;
}
.tracking-order-container .deliver-info-container .total p:last-child {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 1rem;
}

.info-list {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.43rem;
}

.initial-page {
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=Tracking.css.map */
