.red-dot {
  font-weight: bold;
  min-width: 1.25rem;
  min-height: 1.25rem;
  cursor: pointer;
  color: white;
  background-color: red;
  border: solid 0.125rem white;
  border-radius: 0.75rem;
  z-index: 1;

	.indicator {
	  display: flex;
	  padding: 0 0.375rem;
	  align-items: center;
	  justify-content: center;
	  color: white;
	  font-family: sans-serif;
	  font-size: 0.7rem;
	}
}

