.empty-cart-container {
  max-width: 1180px;
  min-height: 40rem;
  margin: 0 auto;
  padding-bottom: 2.25rem;

  .empty-cart-image {
    display: flex;
    justify-content: center;

    img {
      height: 225px;
      width: 225px;
    }
  }

  .empty-cart-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }

  .empty-cart-text {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
  }

  .redirect-to-shopping {
    margin-top: 20px;
    text-align: center;
  }
}