@import 'styles/_colors';

.HorizontalProductsLayout__wrapper {
  padding: 1rem 0;
  position: relative;
}

.HorizontalGrid__wrapper {
  margin: 6px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
  overflow: hidden;
  border-radius: 10px;
}

.HorizontalGrid__image-container {
  height: auto;
  position: realtive;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 75%, black 120%);
  }
}

.HorizontalGrid__image {
  aspect-ratio: 1/1;
  width: 100%;
}

.HorizontalGrid__desc-container {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 11px;
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 62px;
  width: 100%;
  box-sizing: border-box;
}

.HorizontalGrid__desc {
  color: white
}

.HorizontalGrid__text {
  margin: 0;
}

.HorizontalGrid__price {}