.ResultSkeleton-wrapper {
  // margin-top: 11rem;
}

.ResulSkeleton-annotation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResulSkeleton-annotation-success-icon {
  text-align: center;
}

.ResulSkeleton-annotation-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.ResulSkeleton-annotation-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: #7F7F7F;
}

.ResulSkeleton-annotation-continue-shopping-btn {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.ResultSkeleton-order-detail-container {
  max-width: 600px;
  height: 250px;
  padding: 12px;
  margin: 1.5rem auto 0;
}


.ResultSkeleton-summary-container {
  max-width: 600px;
  margin: 1.5rem auto 2rem;
  padding: 12px;
}

.ResultSkeleton-product-row {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.ResultSkeleton-product-left {
  flex: 1;
}

.ResultSkeleton-product-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}