.tracking-order-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem 1rem 3rem 1rem;

  .order-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }

  .order-subtitle {
    display: flex;
    margin-bottom: 1rem;

    .order-subtitle-info {
      display: flex;
      font-size: 14px;
      color: rgb(130, 129, 131);

      &:first-child {
        padding-right: 1rem;
        border-right: 1px solid #E5E5E5;
      }

      &:last-child {
        padding-left: 1rem;
        color: rgb(0, 179, 59);
      }
    }
  }

  .order-products-container {
    border: 1px solid #E5E5E5;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .order-product {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem 1rem;
      border-bottom: 1px solid #E5E5E5;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .left {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .product-img {
          margin-right: 0.75rem;

          img {
            width: 75px;
            height: 75px;
          }
        }

        .product-spec-info {
          .product-name {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
          }

          .product-spec {
            font-size: 0.75rem;
            font-weight: 400;
            color: rgb(130, 129, 131);
          }
        }
      }

      .right {
        width: 30%;
        display: flex;
        justify-content: flex-end;

        .price-qty {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          p {
            &:first-child {
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5rem;
            }

            &:last-child {
              font-size: 1rem;
              font-weight: 400;
              color: rgb(130, 129, 131);
            }
          }
        }
      }
    }
  }

  .deliver-info-container {
    padding: 1rem;
    border: 1px solid #E5E5E5;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid #E5E5E5;
    }

    h1 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 0.7rem;
    }

    .cost-info-box {
      border-bottom: 1px solid #E5E5E5;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }

    .info-piece {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      h4 {
        font-size: 0.75rem;
        font-weight: 400;
        color: rgb(130, 129, 131);
      }

      p {
        margin-top: 0.375rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.43;
      }

      .price-info {
        display: flex;
        font-size: 0.75rem;
        font-weight: 400;
        color: rgb(130, 129, 131);

        p {
          margin: 0;
        }

        .title-with-info {
          display: flex;
          align-items: center;
          gap: 5px;

        }

        p {
          flex: 1;

          &:last-child {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    .subtotal {
      width: 100%;
      display: flex;
      margin-bottom: 0.5rem;

      p {
        flex: 1;

        &:last-child {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .total {
      display: flex;

      p {
        flex: 1;

        &:last-child {
          display: flex;
          justify-content: flex-end;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }
  }
}

.info-list {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.43rem;
}

.order-not-found {
  display: flex;
  flex-direction: column;
  min-height: 35rem;
  justify-content: center;
  align-items: center;


  img {
    width: 10rem;
    height: 10rem;
  }
}