@import 'styles/_mixins';

.product-detail {
	width: 100%;
	padding: 0 1rem 5px;

	.product-detail-title {
		padding-left: 0;

		h1 {
			font-size: 25px;
			color: #000;
		}

		h2 {
			font-size: 20px;
			line-height: 18px;
			margin: 10px 0 20px 0;
			color: #666;
		}
	}
}

.product-detail-img-container {
	img {
		width: 100%;

		@include md {
			max-width: 718px;
		}
	}
}

.productdetail-breadcrumbs {
	width: 1180px;
	padding: 0 1rem;
	margin: 0 auto;

	@media (min-width: $screen-md-min) {
		padding-left: 2rem;
	}
}