@import 'styles/_mixins';
@import 'styles/_breakpoints';
@import 'styles/_colors';

.product-detail {
	width: 100%;

	@media(min-width: $screen-md-min) and (max-width: $screen-1280-min) {
		width: 53%;
	}

	.product-detail-title {
		padding-left: 0;

		h1 {
			font-size: 25px;
			color: #000;
		}

		h2 {
			font-size: 20px;
			line-height: 18px;
			margin: 10px 0 20px 0;
			color: #666;
		}
	}

	.peasydeal-v1 table,.bolt-habitat table {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #262626;
    width: 100%;
    text-align: left;
    font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-display: swap;
    font-weight: 400;
		margin: 2rem 0.5rem;
	}

	.peasydeal-v1 hr {
		margin: 1rem 0;
	}

	.peasydeal-v1 th,.peasydeal-v1 td,.bolt-habitat th,.bolt-habitat td {
			padding: 5px;
			border-bottom: 1px solid #d8d8d8
	}

	.peasydeal-v1 th,.bolt-habitat th {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-weight: 700
	}

	.peasydeal-v1 {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 1rem;
			color: #262626;
			-webkit-font-smoothing: antialiased
	}

	.peasydeal-v1 .display,.peasydeal-v1 h1,.peasydeal-v1 .h1,.peasydeal-v1 h2,.peasydeal-v1 .h2,.peasydeal-v1 h3,.peasydeal-v1 .h3,.peasydeal-v1 h4,.peasydeal-v1 .h4 {
			margin-bottom: .625rem;
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-weight: 700
	}

	.peasydeal-v1 .display {
			font-size: 2.25rem
	}

	@media(min-width: 576px) {
			.peasydeal-v1 .display {
					font-size:3rem
			}
	}

	.peasydeal-v1 h1,.peasydeal-v1 .h1 {
			font-size: 1.875rem;
			line-height: normal
	}

	@media(min-width: 576px) {
			.peasydeal-v1 h1,.peasydeal-v1 .h1 {
					font-size: 1.875rem
			}
	}

	.peasydeal-v1 h2,.peasydeal-v1 .h2 {
			font-size: 1.5rem;
			line-height: normal
	}

	@media(min-width: 576px) {
			.peasydeal-v1 h2,.peasydeal-v1 .h2 {
					font-size:1.375rem
			}
	}

	.peasydeal-v1 h3,.peasydeal-v1 .h3 {
			font-size: 1.375rem;
			line-height: normal
	}

	@media(min-width: 576px) {
			.peasydeal-v1 h3,.peasydeal-v1 .h3 {
					font-size:1.5rem
			}
	}

	.peasydeal-v1 h4,.peasydeal-v1 .h4 {
			font-size: 1rem;
			line-height: normal
	}

	@media(min-width: 576px) {
			.peasydeal-v1 h4,.peasydeal-v1 .h4 {
					font-size:1.25rem
			}
	}

	.peasydeal-v1 p,.peasydeal-v1 li {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-weight: 400;
			line-height: 1.5rem
	}

	.peasydeal-v1 p {
			margin-bottom: .625rem;
			line-height: 1.5rem
	}

	.peasydeal-v1 p.no-line-height {
			line-height: normal
	}

	.peasydeal-v1 a:not([class]) {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-weight: 700;
			color: #375ea9;
			text-decoration: underline
	}

	.peasydeal-v1 a:not([class]):hover,.peasydeal-v1 a:not([class]):active {
			color: #08305f
	}

	.peasydeal-v1 strong {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-weight: 700
	}

	.peasydeal-v1 small {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-size: .75rem
	}

	.peasydeal-v1 em {
			font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-display: swap;
			font-weight: 400;
			font-style: italic
	}
}


.ProductDetail__breadcrumbs {
	padding: 0 1rem;
	margin: 0 auto;
	max-width: 1060px;

	@media (min-width: $screen-1280-min) {
		max-width: 1416px;
		padding-left: 2rem;
	}

}

.product-features-large-screen {
	display: none;
	padding: 1rem;
	margin-top: 2.25rem;
	border: solid 1px $pastel-grey;
	background-color: white;
	word-break: break-all;
	overflow-x: auto;
	max-width: 575px;

	h1 {
		font-weight: bold;
		font-size: 1.714em;
		text-transform: uppercase;
	}

	@include md {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}