@import 'styles/_mixins';
@import 'styles/_breakpoints';
@import 'styles/_colors';

.product-detail {
	width: 100%;
}


.ProductDetail__breadcrumbs {
	padding: 0 1rem;
	margin: 0 auto;
	max-width: 1060px;

	@media (min-width: $screen-1280-min) {
		max-width: 1416px;
		padding-left: 2rem;
	}

}

.product-features-large-screen {
	display: none;
	padding: 1rem;
	margin-top: 2.25rem;
	border: solid 1px $pastel-grey;
	background-color: white;
	word-break: break-all;
	overflow-x: auto;
	max-width: 575px;

	h1 {
		font-weight: bold;
		font-size: 1.714em;
		text-transform: uppercase;
	}

	@include md {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}