.product-detail {
  width: 100%;
}
.product-detail .peasydeal-v1 table, .product-detail .bolt-habitat table {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #262626;
  width: 100%;
  text-align: left;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 400;
  margin: 2rem 0.5rem;
}
.product-detail .peasydeal-v1 hr {
  margin: 1rem 0;
}
.product-detail .peasydeal-v1 th, .product-detail .peasydeal-v1 td, .product-detail .bolt-habitat th, .product-detail .bolt-habitat td {
  padding: 5px;
  border-bottom: 1px solid #d8d8d8;
}
.product-detail .peasydeal-v1 th, .product-detail .bolt-habitat th {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 700;
}
.product-detail .peasydeal-v1 {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #262626;
  -webkit-font-smoothing: antialiased;
}
.product-detail .peasydeal-v1 .display, .product-detail .peasydeal-v1 h1, .product-detail .peasydeal-v1 .h1, .product-detail .peasydeal-v1 h2, .product-detail .peasydeal-v1 .h2, .product-detail .peasydeal-v1 h3, .product-detail .peasydeal-v1 .h3, .product-detail .peasydeal-v1 h4, .product-detail .peasydeal-v1 .h4 {
  margin-bottom: 0.625rem;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 700;
}
.product-detail .peasydeal-v1 .display {
  font-size: 2.25rem;
}
@media (min-width: 576px) {
  .product-detail .peasydeal-v1 .display {
    font-size: 3rem;
  }
}
.product-detail .peasydeal-v1 h1, .product-detail .peasydeal-v1 .h1 {
  font-size: 1.875rem;
  line-height: normal;
}
@media (min-width: 576px) {
  .product-detail .peasydeal-v1 h1, .product-detail .peasydeal-v1 .h1 {
    font-size: 1.875rem;
  }
}
.product-detail .peasydeal-v1 h2, .product-detail .peasydeal-v1 .h2 {
  font-size: 1.5rem;
  line-height: normal;
}
@media (min-width: 576px) {
  .product-detail .peasydeal-v1 h2, .product-detail .peasydeal-v1 .h2 {
    font-size: 1.375rem;
  }
}
.product-detail .peasydeal-v1 h3, .product-detail .peasydeal-v1 .h3 {
  font-size: 1.375rem;
  line-height: normal;
}
@media (min-width: 576px) {
  .product-detail .peasydeal-v1 h3, .product-detail .peasydeal-v1 .h3 {
    font-size: 1.5rem;
  }
}
.product-detail .peasydeal-v1 h4, .product-detail .peasydeal-v1 .h4 {
  font-size: 1rem;
  line-height: normal;
}
@media (min-width: 576px) {
  .product-detail .peasydeal-v1 h4, .product-detail .peasydeal-v1 .h4 {
    font-size: 1.25rem;
  }
}
.product-detail .peasydeal-v1 p, .product-detail .peasydeal-v1 li {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 400;
  line-height: 1.5rem;
}
.product-detail .peasydeal-v1 p {
  margin-bottom: 0.625rem;
  line-height: 1.5rem;
}
.product-detail .peasydeal-v1 p.no-line-height {
  line-height: normal;
}
.product-detail .peasydeal-v1 a:not([class]) {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 700;
  color: #375ea9;
  text-decoration: underline;
}
.product-detail .peasydeal-v1 a:not([class]):hover, .product-detail .peasydeal-v1 a:not([class]):active {
  color: #08305f;
}
.product-detail .peasydeal-v1 strong {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 700;
}
.product-detail .peasydeal-v1 small {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-size: 0.75rem;
}
.product-detail .peasydeal-v1 em {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

.ProductDetail__breadcrumbs {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1060px;
}
@media (min-width: 1280px) {
  .ProductDetail__breadcrumbs {
    max-width: 1416px;
    padding-left: 2rem;
  }
}

.product-features-large-screen {
  display: none;
  padding: 1rem;
  margin-top: 2.25rem;
  border: solid 1px #ccc;
  background-color: white;
  word-break: break-all;
  overflow-x: auto;
  max-width: 575px;
}
.product-features-large-screen h1 {
  font-weight: bold;
  font-size: 1.714em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .product-features-large-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=ProductDetailSection.css.map */
