@import 'styles/_mixins';
@import 'styles/_breakpoints';

.product-detail {
	width: 100%;

	@media (min-width: $screen-md-min) {
		width: 66%;
		padding: 0 0 5px 1rem;
	}

	.product-detail-title {
		padding-left: 0;

		h1 {
			font-size: 25px;
			color: #000;
		}

		h2 {
			font-size: 20px;
			line-height: 18px;
			margin: 10px 0 20px 0;
			color: #666;
		}
	}
}

.product-detail-img-container {
	img {
		// width: 100%;

		@include md {
			max-width: 718px;
		}
	}
}

.productdetail-breadcrumbs {
	max-width: 1180px;
	padding: 0 1rem;
	margin: 0 auto;

	@media (min-width: $screen-md-min) {
		padding-left: 2rem;
	}
}