@import 'styles/_mixins';
@import 'styles/_breakpoints';
@import 'styles/_colors';

.product-detail {
	width: 100%;

	@media(min-width: $screen-md-min) and (max-width: $screen-1280-min) {
		width: 53%;
	}

	.product-detail-title {
		padding-left: 0;

		h1 {
			font-size: 25px;
			color: #000;
		}

		h2 {
			font-size: 20px;
			line-height: 18px;
			margin: 10px 0 20px 0;
			color: #666;
		}
	}
}

.product-detail-img-container {
	img {
		@include md {
			max-width: 718px;
		}
	}
}

.productdetail-breadcrumbs {
	max-width: 1180px;
	padding: 0 1rem;
	margin: 0 auto;

	@media (min-width: $screen-md-min) {
		padding-left: 2rem;
	}
}

.product-features-large-screen {
	display: none;
	padding: 1rem;
	margin-top: 2.25rem;
	border: solid 1px $pastel-grey;
	background-color: white;

	h1 {
		font-weight: bold;
		font-size: 1.714em;
		text-transform: uppercase;
	}

	@include md {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}