@import 'styles/_mixins';
@import 'styles/_colors';

.cart-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	padding: 1.875rem;
	background-color: white;

	@include md {
		flex-direction: row;
	}

	.top {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		@include md {
			justify-content: flex-start;
			gap: 2.25rem;
		}

		.product-image {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 120px;
				width: 120px;
			}
		}

		.product-description {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 330px;
			height: 100%;

			.product-title {
				font-size: 1rem;
				font-weight: 500;
				line-height: 1.5rem;
			}

			.product-description-text {
				font-size: 0.75rem;
				font-weight: 400;
				color: rgb(130, 129, 131);
				width: 100%;
				margin: 5px 20px 5px 0;
				line-height: 1.4em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
			}

			.product-price-mobile {
				display: flex;
				align-items: baseline;
				color: $primary;
				font-size: 18px;
				font-weight: bold;

				@include md {
					display: none;
				}
			}
		}

		@include md {
			width: 57%;
			flex-direction: row;
		}
	}

	.bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.product-price {
			width: 70px;
			font-weight: 700;
			display: none;

			@media (min-width: $screen-md-min) {
				display: block;
			}
		}

		.product-total {
			display: none;
		}

		@include md {
			width: 43%;

			.product-price {
				width: 28%;
			}


			.product-total {
				display: flex;
				width: 40%;
				font-weight: 700;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.CartItem__retail-price {
	color: $cornflowerblue;
	font-size: 1rem;
	margin-left: 0.7rem;
	text-decoration: line-through;
}

.CartItem__sale-price {
	font-size: 1.25rem;
}

.CartItem__quantity-text {
	margin-right: 10px;
	font-weight: 500;

	@media(min-width: $screen-md-min) {
		display: none;
	}
}