.categories-nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  .categories-nav-container {
    display: none;
  }
}
.categories-nav-container .all-categories-nav {
  cursor: pointer;
  position: relative;
  max-width: 300px;
  width: 100%;
}
@media (max-width: 992px) {
  .categories-nav-container .all-categories-nav {
    max-width: 100%;
  }
}
.categories-nav-container .all-categories-nav label {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}
.categories-nav-container .all-categories-nav label span {
  display: flex;
  align-items: center;
  background-color: #555BBD;
  color: white;
  width: 100%;
  height: 40px;
  padding: 0 25px;
}
.categories-nav-container .all-categories-nav label span span {
  margin-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories-nav-container .all-categories-nav label .all-category-list {
  background: #fff;
  border-bottom: 3px solid #545bc4;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  height: auto;
  padding: 15px 0;
  position: absolute;
  top: 40px;
  width: 300px;
  z-index: 90;
}
@media (max-width: 992px) {
  .categories-nav-container .all-categories-nav label .all-category-list {
    min-width: 100%;
  }
}
.categories-nav-container .all-categories-nav label .all-category-list .category-list-item a {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  transition: 100ms all linear 0s;
}
.categories-nav-container .all-categories-nav label .all-category-list .category-list-item:hover {
  display: block;
  background: #555BBD;
}
.categories-nav-container .all-categories-nav label .all-category-list .category-list-item:hover a {
  color: #fff;
}
.categories-nav-container .featured-category-nav {
  flex: auto;
  margin: 0;
  width: 85%;
  overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.categories-nav-container .featured-category-nav::-webkit-scrollbar {
  display: none;
}
.categories-nav-container .featured-category-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.categories-nav-container .featured-category-nav ul li {
  flex: auto;
  cursor: pointer;
  transition: 100ms all linear 0s;
  color: black;
  padding: 1rem 1rem;
  border-right: solid 1px #e5e5e5;
}
.categories-nav-container .featured-category-nav ul li:first-of-type {
  border-left: solid 1px #e5e5e5;
}
.categories-nav-container .featured-category-nav ul li:hover {
  background-color: #E4E4E4;
}
.categories-nav-container .featured-category-nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.CategoriesNav__left-arrow {
  position: absolute;
  left: 0px;
}

.CategoriesNav__right-arrow {
  position: absolute;
  right: 0px;
}

.CategoriesNav__item {
  white-space: nowrap;
}

.Header__CategoriesNav__more {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 12%;
  border-right: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  padding: 1rem 0;
}

.Header__CategoriesNav__arrow_wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.Header__CategoriesNav__text {
  margin-right: 0.3rem;
}

.Header__CategoriesNav__arrow-up {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-color: #545bc4;
  border-image: initial;
  border-width: 0px 0.125rem 0.125rem 0px;
  border-radius: 0px 0.125rem;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: transform 0.2s;
}

.Header__CategoriesNav__arrow-down {
  transform: rotate(225deg);
}

.Header__CategoriesNav__all-cats {
  position: absolute;
  top: 55px;
  background-color: white;
  border: solid 1px #e5e5e5;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.Header__CategoriesNav__all-cats-title {
  display: flex;
  justify-content: flex-start;
}

.Header__CategoriesNav__all-cats-title-text {
  padding: 0.5rem 0;
  cursor: pointer;
  color: black;
  display: inline-block;
  background-image: linear-gradient(#FC8A15, #FC8A15);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  margin: 2px 0;
}
.Header__CategoriesNav__all-cats-title-text a {
  width: 100%;
  justify-content: flex-start !important;
}
.Header__CategoriesNav__all-cats-title-text:hover {
  background-size: 100% 1px;
}

.fromLeft {
  background-position: 0 calc(100% - 0px);
}

.CategoriesNav__scrollable-nav {
  position: relative;
  width: 88%;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=CategoriesNav.css.map */
