@import 'styles/_breakpoints';
@import 'styles/_colors';

.categories-nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  .all-categories-nav {
    cursor: pointer;
    position: relative;
    max-width: 300px;
    width: 100%;

    @media (max-width:#{$screen-lg-min}) {
      max-width: 100%;
    }

    label {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;

      span {
        display: flex;
        align-items: center;
        background-color: #555BBD;
        color: white;
        width: 100%;
        height: 40px;
        padding: 0 25px;

        span {
          margin-left: 15px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

      }

      .all-category-list {
        background: #fff;
        border-bottom: 3px solid #545bc4;
        box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 30%);
        height: auto;
        padding: 15px 0;
        position: absolute;
        top: 40px;
        width: 300px;
        z-index: 90;

        @media (max-width:#{$screen-lg-min}) {
          min-width: 100%;
        }

        .category-list-item {
          a {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            transition: 100ms all linear 0s;
          }

          &:hover {
            display: block;
            background: #555BBD;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .featured-category-nav {
    flex: auto;
    margin: 0;

    @media (max-width:#{$screen-lg-min}) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      li {
        flex: auto;
        cursor: pointer;
        transition: 100ms all linear 0s;
        color: black;
        padding: 1rem 0;

        &:hover {
          background-color: $gray-hover-bg;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
        }
      }
    }
  }
}

.Header__CategoriesNav__more {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Header__CategoriesNav__arrow_wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.Header__CategoriesNav__text {
  margin-right: 0.3rem;
}

.Header__CategoriesNav__arrow-up {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-color: #545bc4;
  border-image: initial;
  border-width: 0px 0.125rem 0.125rem 0px;
  border-radius: 0px 0.125rem;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: transform 0.2s;
}

.Header__CategoriesNav__arrow-down {
  transform: rotate(225deg);
}

.Header__CategoriesNav__all-cats {
  position: absolute;
  top: 55px;
  background-color: white;
  border: solid 1px $border-color;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.Header__CategoriesNav__all-cats-title {
  display: flex;
  justify-content: flex-start;
}

.Header__CategoriesNav__all-cats-title-text {
  padding: 0.5rem 0;
  cursor: pointer;
  color: black;
  display: inline-block;
  background-image: linear-gradient($primary, $primary);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  margin: 2px 0;

  a {
    width: 100%;
    justify-content: flex-start !important;
  }

  &:hover {
    background-size: 100% 1px;
  }
}

.fromLeft {
  background-position: 0 calc(100% - 0px);
}