.mega-menu-wrapper > div {
  @media screen and (min-width: 768px) {
    transform: translate(0px, 57px)!important;
  }

  @media screen and (min-width: 1024px) {
    transform: translate(0px, 57px)!important;
  }

  @media screen and (min-width: 1280px) {
    transform: translate(0px, 57px)!important;
  }

  z-index: 10;
}

.megamenu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}



