.customer-detail-container {
  width: 100%;
  margin-top: 1.5rem;

  h1 {
    font-weight: 600;
    font-size: 1.4rem;
  }

  h2 {
    font-weight: 600;
  }

  .customer-detail {
    display: flex;
    gap: 1rem;
    margin-top: 0.75rem;
    width: 100%;

    .contact {
      flex: 1;
    }

    .billing-address {
      flex: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      gap: 4px;
    }
  }
}