@import "styles/_font";

.recommended-products-wrapper {
  margin-top: 1.5rem;
}

.recommended-products-wrapper_title {
  @extend .title;

  text-transform: uppercase;
  max-width: 1180px;
  padding: 0 1rem;
  margin: 0 auto 2rem;
}