@import "styles/_mixins.scss";

.shopping-cart-section {
	width: 100%;
	padding: 0 20px;
}

.shopping-cart-container {
	max-width: 1180px;
	margin: 0 auto;

	.shopping-cart_topbar {
		.title {
  	  font-size: 2em;
			margin-block-start: 0.67em;
			margin-block-end: 0.67em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}
	}

	.cart-items-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		.head-row {
			display: none;

			@include md {
				display: flex;
			}

			width: 100%;
			border-bottom: 1px solid #eee;
			line-height: 1.5;
			font-size: 1.2em;

			h1, div {
				color: #AAA;
				padding-bottom: 15px;
			}

			.image-label {
				width: 20%;
			}

			.description-label {
				width: 37%;
			}

			.price-label {
				width: 12%;
			}

			.quantity-label {
				width: 10%;
			}

			.total-label {
				width: 21%;
				text-align: right;
			}

		}

		.cart-item {
			display: flex;
			flex-direction: column;
			margin-top: 15px;
			padding-bottom: 0.75em;
			border-bottom: 1px solid #eee;

			@include md {
				flex-direction: row;
			}

			.top {
				display: flex;
				flex-direction: row-reverse;

				.product-image {
					display: flex;
					flex-direction: center;
					align-items: center;
					width: 35%;

					@include md {
						justify-content: flex-start;
					}

					img {
						height: 100px;
						width: 100px;
					}
				}

				.product-description {
					display: flex;
					flex-direction: column;
					width: 65%;

					.product-title {
						font-size: 1.2rem;
						font-weight: bold;
					}

					.product-description-text {
						width: 100%;
						margin: 5px 20px 5px 0;
    				line-height: 1.4em;
    				margin-inline-start: 0px;
    				margin-inline-end: 0px;
					}

					.product-price-mobile {
						display: block;
						color: #e3472f;
						font-size: 18px;
						font-weight: bold;

						@include md {
							display: none;
						}
					}
				}

				@include md {
					width: 57%;
					flex-direction: row;
				}
			}

			.bottom {
				display: flex;
				flex-direction: row;
				padding-bottom: 8px;

				.product-price {
					width: 70px;
				}

				.product-quantity {
					width: 100px;
				}

				.product-total {
					display: none;
				}

				@include md {
					width: 43%;
					.product-price {
						width: 28%;
					}

					.product-quantity {
						width: 40%;
					}

					.product-total {
						display: block;
						width: 32%;
						text-align: right;
					}
				}
			}
		}

		.result-row {
			margin-top: 20px;
			line-height: 2;

			div {
				display: flex;
				align-items: center;

				label {
					width: 79%;
					display: flex;
					justify-content: flex-end;
					color: #aaa;
					line-height: 18.4px;
					font-size: 20px;
				}


				.result-value {
					width: 21%;
					display: flex;
					justify-content: flex-end;
				}
			}

			.grand-total {
				label {
					font-weight: bold !important;
				}
			}

			.checkout-button {
				margin-top: 30px;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}
