.shopping-cart-section {
	width: 100%;
	padding: 0 20px;
}

.shopping-cart-container {
	max-width: 1180px;
	margin: 0 auto;

	.shopping-cart_topbar {

		.title {
  	  font-size: 2em;
			margin-block-start: 0.67em;
			margin-block-end: 0.67em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}
	}

	.cart-items-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		.head-row {
			display: flex;
			width: 100%;
			border-bottom: 1px solid #eee;
			line-height: 1.5;
			font-size: 1.2em;

			h1, div {
				color: #AAA;
				padding-bottom: 15px;
			}

			.image-label {
				width: 20%;
			}

			.description-label {
				width: 37%;
			}

			.price-label {
				width: 12%;
			}

			.quantity-label {
				width: 10%;
			}

			.remove-label {
				width: 9%;
			}

			.total-label {
				width: 12%;
				text-align: right;
			}
		}

		.cart-item {
			display: flex;
			flex-direction: row;
			margin-top: 15px;
			border-bottom: 1px solid #eee;

			.product-image {
				display: flex;
				flex-direction: center;
				justify-content: center;
				width: 20%;

				img {
					height: 100px;
					width: 100px;
				}
			}

			.product-description {
				display: flex;
				flex-direction: column;
				width: 37%;

				.product-title {
					font-size: 1.2rem;
					font-weight: bold;
				}

				.product-description-text {
					width: 100%;
					margin: 5px 20px 5px 0;
    			line-height: 1.4em;
					margin-block-end: 1em;
    			margin-inline-start: 0px;
    			margin-inline-end: 0px;
				}
			}

			.product-price {
				width: 12%;
			}

			.product-quantity {
				width: 10%;
			}

			.product-remove {
				width: 9%;
			}

			.product-total {
				width: 12%;
				text-align: right;
			}
		}

		.result-row {
			margin-top: 20px;
			line-height: 2;

			div {
				display: flex;
				align-items: center;

				label {
					width: 79%;
					display: flex;
					justify-content: flex-end;
					color: #aaa;
					line-height: 18.4px;
					font-size: 20px;
				}


				.result-value {
					width: 21%;
					display: flex;
					justify-content: flex-end;
				}
			}

			.grand-total {
				label {
					font-weight: bold !important;
				}
			}
		}
	}
}
