@import 'styles/_colors';

.DropDownSearchBar__wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
}

.DropDownSearchBar__dropdown-wrapper {
  padding: 8px 0;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 13px 0 #2c2c2d45;
  position: absolute;
  width: 100%;
}

.DropDownSearchBar__dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.DropDownSearchBar__dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  line-height: 1.25;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $gray-hover-bg;
  }

  a {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.DropDownSearchBar__dropdown-search-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.DropDownSearchBar__dropdown-content {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.DropDownSearchBar__dropdown-state {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.DropDownSearchBar__dropdown-discount {
  font-weight: 600;
  line-height: 1.7rem;
  color: $product-price ;
}

.DropDownSearchBar__dropdown-list-no-found {
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}