@import 'styles/_breakpoints';

.problematic-page {
  max-height: 460px;
  max-width: 1180px;
  padding: 2rem 1rem 3rem 2rem;
  margin: 0 auto;


  @media (min-width: #{$screen-phone-top-599}) {
    min-height: 620px;
    margin: 7rem auto 0;
  }

  .error-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2.25rem;
  }

  .error-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 6.25rem;

    img {
      width: 10rem;
      height: 10rem;
      margin-bottom: 1rem;
    }
  }

  .error-text {
    margin: 0px 0px 0.25rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}