.PageNotFound__mountain {
  position: absolute;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 8.625rem;
  height: 8.875rem;
  margin: 0 auto;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: play;
  animation-timing-function: steps(6);
  // background-image: url("./images/mountain_sprite.png");
  background-repeat: no-repeat;
  z-index: 1;
}

@keyframes play {
  100% {
    background-position: -51.75rem;
  }
}