@import 'styles/_mixins';

.product-carousel-container {
	.product-carousel-image {
		width: 100%;
		height: auto;
		aspect-ratio: 414/277;
	}

	@include md {
		display: none;
	}
}

.thumbnails-hover-images-container {
	display: none;

	@include md {
		// display: flex;
		// flex-direction: column;
		// gap: 10px;
		display: block;
	}

	.preview-image {
		@include md {
			// width: 100%;

			width: 100%;
			height: auto;
			aspect-ratio: 414/277;
			// aspect-ratio: 1.5/1;
			// max-height: 465px;
			// max-width: 698px;
		}

		// img {
		// aspect-ratio: 1.5/1;
		// height: 100%;
		// }
	}

	.thumbnails-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 8px;
		margin-top: 20px;

		.product-thumbnail {
			cursor: pointer;
			box-sizing: border-box;
			border: solid 5px transparent;
			width: 80px;
			height: 80px;

			img {
				height: 100%;
				width: 100%;
			}

			&:hover {
				border: solid 5px #EC7272;
			}
		}
	}
}

.thumbail-highlight {
	border: solid 5px #EC7272 !important;
}