@import 'styles/_mixins';
@import 'styles/_colors';
@import 'styles/_breakpoints';

.product-carousel-container {
	.product-carousel-image-wrapper {
		box-shadow: rgb(0 0 0 / 40%) 0px 2px 5px 0px;
		overflow: hidden;
		border-radius: 0.5rem;

		max-width: 717px;
		height: auto;
		margin: 0 auto;
		aspect-ratio: 1/1;
	}

	.product-carousel-image {
		width: 100%;
		height: auto;
		margin: 0 auto;
		aspect-ratio: 1/1;
	}
}

.thumbnails-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 12px;
	margin-top: 20px;

	.product-thumbnail {
		cursor: pointer;
		box-sizing: border-box;
		border: solid 5px transparent;
		width: 80px;
		height: 80px;

		img {
			height: 100%;
			width: 100%;
		}

		&:hover {
			border: solid 5px #EC7272;
		}
	}
}

.thumbail-highlight {
	border: solid 5px #EC7272 !important;
}

.carousel_desktop-preview-image-container {
	position: relative;
}

.carousel__left-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel__right-arrow {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
}

.carousel__thumbnail {
	width: 61px;
	height: 61px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.slick-thumb {
	position: static !important;
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 1rem !important;

	li {
		width: 60px !important;
		height: 60px !important;
	}
}

.ProductDetailSection__carousel-thumbnail-container {
	cursor: pointer;
	display: inline-block !important;
	width: 65px;
	height: 65px;
	transition: background-color 0.25s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transform: translateY(5%);
	border-radius: 4px;
	background-color: $silver-chalice;
	margin-right: 4px;
	overflow: hidden;
}

.ProductDetailSection__carousel-thumbnails {
	padding: 0.3rem 0.5rem;
	margin-top: 1rem;
	overflow-x: scroll;
	border-radius: 3px;
	white-space: nowrap;
	width: 100%;
	background-color: white;

	@media (min-width: $screen-1280-min) {
		max-width: 570px;
		margin: 1rem auto 0;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

.active-thumbnail {
	background-color: $primary;
}