@import 'styles/_mixins';

.product-carousel-container {
	.product-carousel-image {
		width: 100%;
		height: auto;
		aspect-ratio: 1.5/1;
		margin: 0 auto;

		@include md {
			aspect-ratio: 1/1;
		}
	}
}


.thumbnails-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 8px;
	margin-top: 20px;

	.product-thumbnail {
		cursor: pointer;
		box-sizing: border-box;
		border: solid 5px transparent;
		width: 80px;
		height: 80px;

		img {
			height: 100%;
			width: 100%;
		}

		&:hover {
			border: solid 5px #EC7272;
		}
	}
}

.thumbail-highlight {
	border: solid 5px #EC7272 !important;
}

.carousel_desktop-preview-image-container {
	position: relative;
}

.carousel__left-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel__right-arrow {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
}

.carousel__thumbnail {
	width: 55px;
	height: 55px;
}

.slick-thumb {
	position: static !important;
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 1rem !important;

	li {
		width: 60px !important;
		height: 60px !important;
	}
}

.ProductDetailSection__carousel-thumbnail-container {
	cursor: pointer;
	width: 65px !important;
	height: 65px;
	transition: background-color 0.25s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProductDetailSection__carousel-thumbnails {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	padding: 0 0.5rem;
	margin-top: 1rem;
}

.active-thumbnail {
	background-color: #EC7272;
}