@import 'styles/_colors';

.QuantityDropDown__wrapper {
  width: 100%;
  position: relative;
}

.QuantityDropDown__text {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 1rem;
  height: 32px;
  margin: 0;
  padding: 7px 1em;
  vertical-align: middle;
  width: 100%;
  box-shadow: $dropdown-shadow;
}

.QuantityDropDown__list {
  list-style: none;
  padding: 0.3rem 0;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: $dropdown-shadow;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;

  li {
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    box-sizing: border-box;


    &:hover {
      background-color: $gray-hover-bg-2;
    }
  }
}