@import 'styles/_mixins';
@import 'styles/_colors';

.client-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  transition: all 150ms linear;
  display: flex;
  gap: 10px;
  height: 60px;
  padding: 0 0.5rem;
  align-items: center;

  div {
    flex: 1;
  }
}