@import 'styles/_mixins';

.client-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  padding: 0 10px;
  align-items: center;

  div {
    flex: 1;
  }
}

.client-action-bar-large {
  display: none;

  @include md {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}