@import 'styles/_mixins';
@import 'styles/_colors';

.client-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, .9) !important;
  transition: all 150ms linear;
  border-top: 0.5px solid $--gray-l1;
  display: flex;
  gap: 10px;
  padding: 0.5rem 1rem;
  align-items: center;

  div {
    flex: 1;
  }
}

.client-action-bar-large {
  display: none;

  @include md {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}